**Limpieza de datos del dataset-4**

Se van a identificar si existen valores nulos y/o filas o columnas vacías así como información no relevante para el análisis de datos del tema seleccionado.

In [1]:
#Importamos las librerías necesarias
import pandas as pd
import numpy as np

In [2]:
#Cargamos la base de datos a limpiar
file = 'suicidio.csv'

#Leemos el archivo
df = pd.read_csv(file)

In [3]:
#Visualizamos las columnas de la base de datos para ver la forma
#que esta tiene.

df.head()

,Region Name,Country Name,Year,Sex,0 Year,1-4 Years,5-9 Years,10-14 Years,15-19 Years,20-24 Years,...,60-64 Years,65-69 Years,70-74 Years,75-79 Years,80-84 Years,85+ Years,Unknown Age,No of Suicides,Percentage of cause-specific deaths out of total deaths,Death rate per 100 000 population
0,Africa,Cabo Verde,1980,Female,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,Male,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,Female,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,Male,0.0,0.0,0.0,3.0,1.0,4.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,Female,0.0,0.0,0.0,0.0,6.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515

In [5]:
#Viendo mejor las columnas
df.columns

Index(['Region Name', 'Country Name', 'Year', 'Sex', '0 Year', '1-4 Years',
       '5-9 Years', '10-14 Years', '15-19 Years', '20-24 Years', '25-29 Years',
       '30-34 Years', '35-39 Years', '40-44 Years', '45-49 Years',
       '50-54 Years', '55-59 Years', '60-64 Years', '65-69 Years',
       '70-74 Years', '75-79 Years', '80-84 Years', '85+ Years', 'Unknown Age',
       'No of Suicides',
       'Percentage of cause-specific deaths out of total deaths',
       'Death rate per 100 000 population'],
      dtype='object')

In [7]:
#Renombramos las columnas:
df = df.rename(columns={'Region Name':'Region',
                        'Country Name':'País',
                        'Year':'Años',
                       'Sex':'Sexo',
                       '0 Year':'0 años',
                       '1-4 Years': '1-4 Años',
                       '5-9 Years': '5-9 Años',
                       '10-14 Years': '10-14 Años',
                       '15-19 Years': '15-19 Años',
                       '20-24 Years': '20-24 Años',
                       '25-29 Years': '25-29 Años',
                       '30-34 Years': '30-34 Años',
                       '35-39 Years': '35-39 Años',
                       '40-44 Years': '40-44 Años',
                       '45-49 Years': '45-49 Años',
                       '50-54 Years': '50-54 Años',
                       '55-59 Years': '55-59 Años',
                       '60-64 Years': '60-64 Años',
                       '65-69 Years': '65-69 Años',
                       '70-74 Years': '70-74 Años',
                       '75-79 Years': '75-79 Años',
                       '80-84 Years': '80-84 Años',
                       '85+ Years': '+85 Años',
                       'Unknown Age': 'Edad desconocida',
                       'No of Suicides':'N° de suicidios',
                       'Percentage of cause-specific deaths out of total deaths': 'Suicidio/Muertes generales'})

df = df.rename(columns={'Death rate per 100 000 population': 'Tasa por 100000 habitantes'})

In [10]:
#Resultando:
df.head()

,Region,País,Años,Sexo,0 años,1-4 Años,5-9 Años,10-14 Años,15-19 Años,20-24 Años,...,60-64 Años,65-69 Años,70-74 Años,75-79 Años,80-84 Años,+85 Años,Edad desconocida,N° de suicidios,Suicidio/Muertes generales,Tasa por 100000 habitantes
0,Africa,Cabo Verde,1980,Female,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,Male,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,Female,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,Male,0.0,0.0,0.0,3.0,1.0,4.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,Female,0.0,0.0,0.0,0.0,6.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515

In [13]:
#Visualizamos la forma de los datos que vienen:
# shape = (# de datos, #número de columnas)
df.shape

(9538, 27)

In [14]:
#Estudiamos la información del data-frame: esto nos dará el conteo y el tipo de datos a estudiar
#Esto nos dirá si existen datos faltantes o incompletos dependiendo de las características a estudiar
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9538 entries, 0 to 9537
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Region                      9538 non-null   object
 1   País                        9538 non-null   object
 2   Años                        9538 non-null   int64
 3   Sexo                        9538 non-null   object
 4   0 años                      9538 non-null   float64
 5   1-4 Años                    9538 non-null   float64
 6   5-9 Años                    9538 non-null   float64
 7   10-14 Años                  9538 non-null   float64
 8   15-19 Años                  9538 non-null   float64
 9   20-24 Años                  9538 non-null   float64
 10  25-29 Años                  9538 non-null   float64
 11  30-34 Años                  9538 non-null   float64
 12  35-39 Años                  9538 non-null   float64
 13  40-44 Años                  9538 non-null   float64
 14  45-49 Años                  9538 non-null   float64
 15  50-54 Años                  9538 non-null   float64
 16  55-59 Años                  9538 non-null   float64
 17  60-64 Años                  9538 non-null   float64
 18  65-69 Años                  9538 non-null   float64
 19  70-74 Años                  9538 non-null   float64
 20  75-79 Años                  9538 non-null   float64
 21  80-84 Años                  9538 non-null   float64
 22  +85 Años                    9538 non-null   float64
 23  Edad desconocida            9538 non-null   float64
 24  N° de suicidios             9538 non-null   float64
 25  Suicidio/Muertes generales  9538 non-null   float64
 26  Tasa por 100000 habitantes  9538 non-null   float64
dtypes: float64(23), int64(1), object(3)
memory usage: 2.0+ MB

In [16]:
#De la misma forma podemos verificar si existen datos nulos mediante:
print(df.isnull().sum())

Region                        0
País                          0
Años                          0
Sexo                          0
0 años                        0
1-4 Años                      0
5-9 Años                      0
10-14 Años                    0
15-19 Años                    0
20-24 Años                    0
25-29 Años                    0
30-34 Años                    0
35-39 Años                    0
40-44 Años                    0
45-49 Años                    0
50-54 Años                    0
55-59 Años                    0
60-64 Años                    0
65-69 Años                    0
70-74 Años                    0
75-79 Años                    0
80-84 Años                    0
+85 Años                      0
Edad desconocida              0
N° de suicidios               0
Suicidio/Muertes generales    0
Tasa por 100000 habitantes    0
dtype: int64

Ahora imputaremos las columnas que no nos interesan estudiar con el fin de reducir la data a estudiar y analizar posteriormente en el procesamiento y organización de los datos.

En el caso de esta base de datos serán:
La edad de 0 años y de 1-4 años y las edades desconocidas.

In [17]:
#Imputamos datos (eliminamos columnas)
df = df.drop ('0 años', axis = 1)
df = df.drop ('1-4 Años', axis = 1)
df = df.drop ('Edad desconocida', axis = 1)

In [18]:
#Luego mediante el método dropna verificamos y eliminamos filas con uno o más valores nulos con los atributos 'all' y 'any'
df.dropna(how='all') #Elimina filas completamente nulas
df.dropna(how='any') #Elimina filas que tenga al menos un valor nulo

,Region,País,Años,Sexo,5-9 Años,10-14 Años,15-19 Años,20-24 Años,25-29 Años,30-34 Años,...,55-59 Años,60-64 Años,65-69 Años,70-74 Años,75-79 Años,80-84 Años,+85 Años,N° de suicidios,Suicidio/Muertes generales,Tasa por 100000 habitantes
0,Africa,Cabo Verde,1980,Female,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,Male,0.0,0.0,2.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,Female,0.0,0.0,0.0,1.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,Male,0.0,3.0,1.0,4.0,5.0,3.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,Female,0.0,0.0,6.0,1.0,0.0,1.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9533,Oceania,New Zealand,2014,Male,0.0,2.0,27.0,41.0,38.0,33.0,...,32.0,26.0,13.0,14.0,4.0,8.0,10.0,379.0,10.703106,16.744376
9534,Oceania,New Zealand,2015,Female,0.0,4.0,25.0,16.0,8.0,9.0,...,7.0,12.0,7.0,3.0,4.0,1.0,1.0,144.0,8.828921,5.458483
9535,Oceania,New Zealand,2015,Male,0.0,5.0,32.0,38.0,42.0,33.0,...,27.0,24.0,14.0,7.0,13.0,9.0,6.0,386.0,11.143815,16.703400
9536,Oceania,New Zealand,2016,Female,0.0,3.0,10.0,16.0,18.0,11.0,...,13.0,4.0,5.0,3.0,2.0,2.0,2.0,145.0,8.362872,5.342887
9537,Oceania,New Zealand,2016,Male,0.0,5.0,34.0,52.0,50.0,37.0,...,36.0,23.0,18.0,5.0,10.0,8.0,10.0,416.0,11.974208,17.383315

In [19]:
#Vemos que no se eliminan datos por lo que la base de datos es completa en todas sus entradas pero siempre deben reducirse
#con el fin de delimitar los datos de procesamiento y análisis.

#Verificando
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9538 entries, 0 to 9537
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Region                      9538 non-null   object
 1   País                        9538 non-null   object
 2   Años                        9538 non-null   int64
 3   Sexo                        9538 non-null   object
 4   5-9 Años                    9538 non-null   float64
 5   10-14 Años                  9538 non-null   float64
 6   15-19 Años                  9538 non-null   float64
 7   20-24 Años                  9538 non-null   float64
 8   25-29 Años                  9538 non-null   float64
 9   30-34 Años                  9538 non-null   float64
 10  35-39 Años                  9538 non-null   float64
 11  40-44 Años                  9538 non-null   float64
 12  45-49 Años                  9538 non-null   float64
 13  50-54 Años                  9538 non-null   float64
 14  55-59 Años                  9538 non-null   float64
 15  60-64 Años                  9538 non-null   float64
 16  65-69 Años                  9538 non-null   float64
 17  70-74 Años                  9538 non-null   float64
 18  75-79 Años                  9538 non-null   float64
 19  80-84 Años                  9538 non-null   float64
 20  +85 Años                    9538 non-null   float64
 21  N° de suicidios             9538 non-null   float64
 22  Suicidio/Muertes generales  9538 non-null   float64
 23  Tasa por 100000 habitantes  9538 non-null   float64
dtypes: float64(20), int64(1), object(3)
memory usage: 1.7+ MB

In [21]:
#Eliminamos en caso de que existan, registros duplicados
df.drop_duplicates()

,Region,País,Años,Sexo,5-9 Años,10-14 Años,15-19 Años,20-24 Años,25-29 Años,30-34 Años,...,55-59 Años,60-64 Años,65-69 Años,70-74 Años,75-79 Años,80-84 Años,+85 Años,N° de suicidios,Suicidio/Muertes generales,Tasa por 100000 habitantes
0,Africa,Cabo Verde,1980,Female,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,Male,0.0,0.0,2.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,Female,0.0,0.0,0.0,1.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,Male,0.0,3.0,1.0,4.0,5.0,3.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,Female,0.0,0.0,6.0,1.0,0.0,1.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9533,Oceania,New Zealand,2014,Male,0.0,2.0,27.0,41.0,38.0,33.0,...,32.0,26.0,13.0,14.0,4.0,8.0,10.0,379.0,10.703106,16.744376
9534,Oceania,New Zealand,2015,Female,0.0,4.0,25.0,16.0,8.0,9.0,...,7.0,12.0,7.0,3.0,4.0,1.0,1.0,144.0,8.828921,5.458483
9535,Oceania,New Zealand,2015,Male,0.0,5.0,32.0,38.0,42.0,33.0,...,27.0,24.0,14.0,7.0,13.0,9.0,6.0,386.0,11.143815,16.703400
9536,Oceania,New Zealand,2016,Female,0.0,3.0,10.0,16.0,18.0,11.0,...,13.0,4.0,5.0,3.0,2.0,2.0,2.0,145.0,8.362872,5.342887
9537,Oceania,New Zealand,2016,Male,0.0,5.0,34.0,52.0,50.0,37.0,...,36.0,23.0,18.0,5.0,10.0,8.0,10.0,416.0,11.974208,17.383315

Como podemos ver hemos realizado una limpieza, o mejor dicho una verificación de la cantidad de datos y vemos que la base de datos no contiene datos nulos y/o vacíos.

In [26]:
#Cambiando a español los registro de Sexo
genero_map = {
    'Male': 'Masculino',
    'Female': 'Femenino'
}

# Aplica la traducción a los registros de la columna ya renombrada
df['Sexo'] = df['Sexo'].replace(genero_map)

In [27]:
df.head()

,Region,País,Años,Sexo,5-9 Años,10-14 Años,15-19 Años,20-24 Años,25-29 Años,30-34 Años,...,55-59 Años,60-64 Años,65-69 Años,70-74 Años,75-79 Años,80-84 Años,+85 Años,N° de suicidios,Suicidio/Muertes generales,Tasa por 100000 habitantes
0,Africa,Cabo Verde,1980,femenino,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,masculino,0.0,0.0,2.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,femenino,0.0,0.0,0.0,1.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,masculino,0.0,3.0,1.0,4.0,5.0,3.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,femenino,0.0,0.0,6.0,1.0,0.0,1.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515

Ahora contemos la cantidad de registros de las distintas regiones por si hay que descartar algunos o si se tienen suficientes registros.

In [36]:
#Contar registros que contienen "America" en la columna 'Region'
cuenta_america = df['Region'].str.contains('America', case=False, na=False).sum()
print(f"Cantidad de registros que contienen 'America': {cuenta_america}")

print("--------------------------")

#Contar registros que contienen "Oceania" en la columna 'Region'
cuenta_oceania = df['Region'].str.contains('Oceania', case=False, na=False).sum()
print(f"Cantidad de registros que contienen 'Oceania': {cuenta_oceania}")

print("--------------------------")

#Contar registros que contienen "Asia" en la columna 'Region'
cuenta_asia = df['Region'].str.contains('Asia', case=False, na=False).sum()
print(f"Cantidad de registros que contienen 'Asia': {cuenta_asia}")

print("--------------------------")

#Contar registros que contienen "África" en la columna 'Region'
cuenta_africa = df['Region'].str.contains('Africa', case=False, na=False).sum()
print(f"Cantidad de registros que contienen 'África': {cuenta_africa}")

print("--------------------------")

#Contar registros que contienen "Europa" en la columna 'Region'
cuenta_europa = df['Region'].str.contains('Europe', case=False, na=False).sum()
print(f"Cantidad de registros que contienen 'Europa': {cuenta_europa}")

Cantidad de registros que contienen 'America': 3324
--------------------------
Cantidad de registros que contienen 'Oceania': 300
--------------------------
Cantidad de registros que contienen 'Asia': 1752
--------------------------
Cantidad de registros que contienen 'África': 337
--------------------------
Cantidad de registros que contienen 'Europa': 3825

Vemos que con las regiones se tienen la cantidad de datos suficientes para ser analizados y conseguir un patrón entre ellos

Ahora veamos los registros que existen en los distintos años que van desde 1950 hasta 2021, con el fin de descartar si existen pocos datos en ciertos años.

In [45]:
#Primero desarrollemos el código para un año específico:
año_especifico = 2004
conteo_año_especifico = df[df['Años'] == año_especifico].shape[0]
print(f"El conteo de registros para el año {año_especifico} es: {conteo_año_especifico}")

El conteo de registros para el año 2004 es: 205

In [47]:
#Como hacer esto uno por uno lo vuelve un poco complicado, por lo que haremos un for que itere sobre los años desde 1950 a 2021
for año in range(1950, 2022):
    conteo_año = df[df['Años'] == año].shape[0]
    print(f"El conteo de registros para el año {año} es: {conteo_año}")

El conteo de registros para el año 1950 es: 18
El conteo de registros para el año 1951 es: 34
El conteo de registros para el año 1952 es: 36
El conteo de registros para el año 1953 es: 38
El conteo de registros para el año 1954 es: 40
El conteo de registros para el año 1955 es: 60
El conteo de registros para el año 1956 es: 60
El conteo de registros para el año 1957 es: 60
El conteo de registros para el año 1958 es: 60
El conteo de registros para el año 1959 es: 60
El conteo de registros para el año 1960 es: 66
El conteo de registros para el año 1961 es: 76
El conteo de registros para el año 1962 es: 74
El conteo de registros para el año 1963 es: 82
El conteo de registros para el año 1964 es: 86
El conteo de registros para el año 1965 es: 88
El conteo de registros para el año 1966 es: 90
El conteo de registros para el año 1967 es: 94
El conteo de registros para el año 1968 es: 98
El conteo de registros para el año 1969 es: 100
El conteo de registros para el año 1970 es: 102
El conteo de registros para el año 1971 es: 102
El conteo de registros para el año 1972 es: 102
El conteo de registros para el año 1973 es: 98
El conteo de registros para el año 1974 es: 106
El conteo de registros para el año 1975 es: 108
El conteo de registros para el año 1976 es: 102
El conteo de registros para el año 1977 es: 116
El conteo de registros para el año 1978 es: 104
El conteo de registros para el año 1979 es: 108
El conteo de registros para el año 1980 es: 112
El conteo de registros para el año 1981 es: 136
El conteo de registros para el año 1982 es: 132
El conteo de registros para el año 1983 es: 108
El conteo de registros para el año 1984 es: 112
El conteo de registros para el año 1985 es: 154
El conteo de registros para el año 1986 es: 155
El conteo de registros para el año 1987 es: 162
El conteo de registros para el año 1988 es: 151
El conteo de registros para el año 1989 es: 152
El conteo de registros para el año 1990 es: 156
El conteo de registros para el año 1991 es: 152
El conteo de registros para el año 1992 es: 156
El conteo de registros para el año 1993 es: 156
El conteo de registros para el año 1994 es: 158
El conteo de registros para el año 1995 es: 166
El conteo de registros para el año 1996 es: 169
El conteo de registros para el año 1997 es: 171
El conteo de registros para el año 1998 es: 181
El conteo de registros para el año 1999 es: 183
El conteo de registros para el año 2000 es: 197
El conteo de registros para el año 2001 es: 206
El conteo de registros para el año 2002 es: 206
El conteo de registros para el año 2003 es: 208
El conteo de registros para el año 2004 es: 205
El conteo de registros para el año 2005 es: 203
El conteo de registros para el año 2006 es: 201
El conteo de registros para el año 2007 es: 207
El conteo de registros para el año 2008 es: 203
El conteo de registros para el año 2009 es: 215
El conteo de registros para el año 2010 es: 209
El conteo de registros para el año 2011 es: 205
El conteo de registros para el año 2012 es: 208
El conteo de registros para el año 2013 es: 207
El conteo de registros para el año 2014 es: 209
El conteo de registros para el año 2015 es: 198
El conteo de registros para el año 2016 es: 199
El conteo de registros para el año 2017 es: 177
El conteo de registros para el año 2018 es: 165
El conteo de registros para el año 2019 es: 157
El conteo de registros para el año 2020 es: 117
El conteo de registros para el año 2021 es: 46

Esto último permite ver lo siguiente:
 - Enfoque por generación: boomers, X, Y, Z
 - Al tener un enfoque por generación y la edad del grupo de personas se pueden saber a qué generación pertenece e inferir información sobre ello. (Parte de análisis)
 - No se elimina directamente los registros con datos menores a 100 ya que al ser registros pequeños pueden procesarse rápidamente para ver tasas de crecimiento.

In [51]:
#Guardamos la base de datos modificada para nuestro análisis
df.to_csv('dataset4limpia.csv')