# Procesamiento dataset

Se va a terminar de procesar y catalogar los datos con el fin de que sean más fáciles de analizar en las siguientes direcciones:

- Generación
- Comparar la edad y la generación
- Eliminar las filas de pocos datos: años desde 1950 hasta 1968 ya que los datos son menores que 100
- Verificar nuevamente cuántos registros por continente

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Cargamos los datos que hemos procesados anteriormente que fue procesada de suicidios.csv
file = 'dataset4limpia.csv'

#Leemos el archivo
df = pd.read_csv(file)

In [3]:
#Verificamos que es la dada limpiada anterior mediante el head
df.head()

,Unnamed: 0,Region,País,Años,Sexo,5-9 Años,10-14 Años,15-19 Años,20-24 Años,25-29 Años,...,55-59 Años,60-64 Años,65-69 Años,70-74 Años,75-79 Años,80-84 Años,+85 Años,N° de suicidios,Suicidio/Muertes generales,Tasa por 100000 habitantes
0,0,Africa,Cabo Verde,1980,femenino,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,1,Africa,Cabo Verde,1980,masculino,0.0,0.0,2.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,6.0,0.983156,0.000000
2,2,Africa,Cabo Verde,2011,femenino,0.0,0.0,0.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,3,Africa,Cabo Verde,2011,masculino,0.0,3.0,1.0,4.0,5.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,37.0,3.804557,28.024735
4,4,Africa,Egypt,1965,femenino,0.0,0.0,6.0,1.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515

In [4]:
#Verficiamos el conteo de datos por año
for año in range(1950, 2022):
    conteo_año = df[df['Años'] == año].shape[0]
    print(f"El conteo de registros para el año {año} es: {conteo_año}")

El conteo de registros para el año 1950 es: 18
El conteo de registros para el año 1951 es: 34
El conteo de registros para el año 1952 es: 36
El conteo de registros para el año 1953 es: 38
El conteo de registros para el año 1954 es: 40
El conteo de registros para el año 1955 es: 60
El conteo de registros para el año 1956 es: 60
El conteo de registros para el año 1957 es: 60
El conteo de registros para el año 1958 es: 60
El conteo de registros para el año 1959 es: 60
El conteo de registros para el año 1960 es: 66
El conteo de registros para el año 1961 es: 76
El conteo de registros para el año 1962 es: 74
El conteo de registros para el año 1963 es: 82
El conteo de registros para el año 1964 es: 86
El conteo de registros para el año 1965 es: 88
El conteo de registros para el año 1966 es: 90
El conteo de registros para el año 1967 es: 94
El conteo de registros para el año 1968 es: 98
El conteo de registros para el año 1969 es: 100
El conteo de registros para el año 1970 es: 102
El conteo de registros para el año 1971 es: 102
El conteo de registros para el año 1972 es: 102
El conteo de registros para el año 1973 es: 98
El conteo de registros para el año 1974 es: 106
El conteo de registros para el año 1975 es: 108
El conteo de registros para el año 1976 es: 102
El conteo de registros para el año 1977 es: 116
El conteo de registros para el año 1978 es: 104
El conteo de registros para el año 1979 es: 108
El conteo de registros para el año 1980 es: 112
El conteo de registros para el año 1981 es: 136
El conteo de registros para el año 1982 es: 132
El conteo de registros para el año 1983 es: 108
El conteo de registros para el año 1984 es: 112
El conteo de registros para el año 1985 es: 154
El conteo de registros para el año 1986 es: 155
El conteo de registros para el año 1987 es: 162
El conteo de registros para el año 1988 es: 151
El conteo de registros para el año 1989 es: 152
El conteo de registros para el año 1990 es: 156
El conteo de registros para el año 1991 es: 152
El conteo de registros para el año 1992 es: 156
El conteo de registros para el año 1993 es: 156
El conteo de registros para el año 1994 es: 158
El conteo de registros para el año 1995 es: 166
El conteo de registros para el año 1996 es: 169
El conteo de registros para el año 1997 es: 171
El conteo de registros para el año 1998 es: 181
El conteo de registros para el año 1999 es: 183
El conteo de registros para el año 2000 es: 197
El conteo de registros para el año 2001 es: 206
El conteo de registros para el año 2002 es: 206
El conteo de registros para el año 2003 es: 208
El conteo de registros para el año 2004 es: 205
El conteo de registros para el año 2005 es: 203
El conteo de registros para el año 2006 es: 201
El conteo de registros para el año 2007 es: 207
El conteo de registros para el año 2008 es: 203
El conteo de registros para el año 2009 es: 215
El conteo de registros para el año 2010 es: 209
El conteo de registros para el año 2011 es: 205
El conteo de registros para el año 2012 es: 208
El conteo de registros para el año 2013 es: 207
El conteo de registros para el año 2014 es: 209
El conteo de registros para el año 2015 es: 198
El conteo de registros para el año 2016 es: 199
El conteo de registros para el año 2017 es: 177
El conteo de registros para el año 2018 es: 165
El conteo de registros para el año 2019 es: 157
El conteo de registros para el año 2020 es: 117
El conteo de registros para el año 2021 es: 46

In [5]:
#Vamos a eliminar los registros de menos de 100 registros, por lo que serán eliminados desde 1950-1968 y 2021
df = df[~df['Años'].between(1950, 1968)]

In [6]:
#Verficiamos nuevamente el conteo de datos por año
for año in range(1950, 2022):
    conteo_año = df[df['Años'] == año].shape[0]
    print(f"El conteo de registros para el año {año} es: {conteo_año}")

El conteo de registros para el año 1950 es: 0
El conteo de registros para el año 1951 es: 0
El conteo de registros para el año 1952 es: 0
El conteo de registros para el año 1953 es: 0
El conteo de registros para el año 1954 es: 0
El conteo de registros para el año 1955 es: 0
El conteo de registros para el año 1956 es: 0
El conteo de registros para el año 1957 es: 0
El conteo de registros para el año 1958 es: 0
El conteo de registros para el año 1959 es: 0
El conteo de registros para el año 1960 es: 0
El conteo de registros para el año 1961 es: 0
El conteo de registros para el año 1962 es: 0
El conteo de registros para el año 1963 es: 0
El conteo de registros para el año 1964 es: 0
El conteo de registros para el año 1965 es: 0
El conteo de registros para el año 1966 es: 0
El conteo de registros para el año 1967 es: 0
El conteo de registros para el año 1968 es: 0
El conteo de registros para el año 1969 es: 100
El conteo de registros para el año 1970 es: 102
El conteo de registros para el año 1971 es: 102
El conteo de registros para el año 1972 es: 102
El conteo de registros para el año 1973 es: 98
El conteo de registros para el año 1974 es: 106
El conteo de registros para el año 1975 es: 108
El conteo de registros para el año 1976 es: 102
El conteo de registros para el año 1977 es: 116
El conteo de registros para el año 1978 es: 104
El conteo de registros para el año 1979 es: 108
El conteo de registros para el año 1980 es: 112
El conteo de registros para el año 1981 es: 136
El conteo de registros para el año 1982 es: 132
El conteo de registros para el año 1983 es: 108
El conteo de registros para el año 1984 es: 112
El conteo de registros para el año 1985 es: 154
El conteo de registros para el año 1986 es: 155
El conteo de registros para el año 1987 es: 162
El conteo de registros para el año 1988 es: 151
El conteo de registros para el año 1989 es: 152
El conteo de registros para el año 1990 es: 156
El conteo de registros para el año 1991 es: 152
El conteo de registros para el año 1992 es: 156
El conteo de registros para el año 1993 es: 156
El conteo de registros para el año 1994 es: 158
El conteo de registros para el año 1995 es: 166
El conteo de registros para el año 1996 es: 169
El conteo de registros para el año 1997 es: 171
El conteo de registros para el año 1998 es: 181
El conteo de registros para el año 1999 es: 183
El conteo de registros para el año 2000 es: 197
El conteo de registros para el año 2001 es: 206
El conteo de registros para el año 2002 es: 206
El conteo de registros para el año 2003 es: 208
El conteo de registros para el año 2004 es: 205
El conteo de registros para el año 2005 es: 203
El conteo de registros para el año 2006 es: 201
El conteo de registros para el año 2007 es: 207
El conteo de registros para el año 2008 es: 203
El conteo de registros para el año 2009 es: 215
El conteo de registros para el año 2010 es: 209
El conteo de registros para el año 2011 es: 205
El conteo de registros para el año 2012 es: 208
El conteo de registros para el año 2013 es: 207
El conteo de registros para el año 2014 es: 209
El conteo de registros para el año 2015 es: 198
El conteo de registros para el año 2016 es: 199
El conteo de registros para el año 2017 es: 177
El conteo de registros para el año 2018 es: 165
El conteo de registros para el año 2019 es: 157
El conteo de registros para el año 2020 es: 117
El conteo de registros para el año 2021 es: 46

Vemos que se eliminan las que no necesitamos

In [7]:
df = df[df['Años'] != 2021]

In [8]:
for año in range(1950, 2022):
    conteo_año = df[df['Años'] == año].shape[0]
    print(f"El conteo de registros para el año {año} es: {conteo_año}")

El conteo de registros para el año 1950 es: 0
El conteo de registros para el año 1951 es: 0
El conteo de registros para el año 1952 es: 0
El conteo de registros para el año 1953 es: 0
El conteo de registros para el año 1954 es: 0
El conteo de registros para el año 1955 es: 0
El conteo de registros para el año 1956 es: 0
El conteo de registros para el año 1957 es: 0
El conteo de registros para el año 1958 es: 0
El conteo de registros para el año 1959 es: 0
El conteo de registros para el año 1960 es: 0
El conteo de registros para el año 1961 es: 0
El conteo de registros para el año 1962 es: 0
El conteo de registros para el año 1963 es: 0
El conteo de registros para el año 1964 es: 0
El conteo de registros para el año 1965 es: 0
El conteo de registros para el año 1966 es: 0
El conteo de registros para el año 1967 es: 0
El conteo de registros para el año 1968 es: 0
El conteo de registros para el año 1969 es: 100
El conteo de registros para el año 1970 es: 102
El conteo de registros para el año 1971 es: 102
El conteo de registros para el año 1972 es: 102
El conteo de registros para el año 1973 es: 98
El conteo de registros para el año 1974 es: 106
El conteo de registros para el año 1975 es: 108
El conteo de registros para el año 1976 es: 102
El conteo de registros para el año 1977 es: 116
El conteo de registros para el año 1978 es: 104
El conteo de registros para el año 1979 es: 108
El conteo de registros para el año 1980 es: 112
El conteo de registros para el año 1981 es: 136
El conteo de registros para el año 1982 es: 132
El conteo de registros para el año 1983 es: 108
El conteo de registros para el año 1984 es: 112
El conteo de registros para el año 1985 es: 154
El conteo de registros para el año 1986 es: 155
El conteo de registros para el año 1987 es: 162
El conteo de registros para el año 1988 es: 151
El conteo de registros para el año 1989 es: 152
El conteo de registros para el año 1990 es: 156
El conteo de registros para el año 1991 es: 152
El conteo de registros para el año 1992 es: 156
El conteo de registros para el año 1993 es: 156
El conteo de registros para el año 1994 es: 158
El conteo de registros para el año 1995 es: 166
El conteo de registros para el año 1996 es: 169
El conteo de registros para el año 1997 es: 171
El conteo de registros para el año 1998 es: 181
El conteo de registros para el año 1999 es: 183
El conteo de registros para el año 2000 es: 197
El conteo de registros para el año 2001 es: 206
El conteo de registros para el año 2002 es: 206
El conteo de registros para el año 2003 es: 208
El conteo de registros para el año 2004 es: 205
El conteo de registros para el año 2005 es: 203
El conteo de registros para el año 2006 es: 201
El conteo de registros para el año 2007 es: 207
El conteo de registros para el año 2008 es: 203
El conteo de registros para el año 2009 es: 215
El conteo de registros para el año 2010 es: 209
El conteo de registros para el año 2011 es: 205
El conteo de registros para el año 2012 es: 208
El conteo de registros para el año 2013 es: 207
El conteo de registros para el año 2014 es: 209
El conteo de registros para el año 2015 es: 198
El conteo de registros para el año 2016 es: 199
El conteo de registros para el año 2017 es: 177
El conteo de registros para el año 2018 es: 165
El conteo de registros para el año 2019 es: 157
El conteo de registros para el año 2020 es: 117
El conteo de registros para el año 2021 es: 0

In [9]:
df.head()

,Unnamed: 0,Region,País,Años,Sexo,5-9 Años,10-14 Años,15-19 Años,20-24 Años,25-29 Años,...,55-59 Años,60-64 Años,65-69 Años,70-74 Años,75-79 Años,80-84 Años,+85 Años,N° de suicidios,Suicidio/Muertes generales,Tasa por 100000 habitantes
0,0,Africa,Cabo Verde,1980,femenino,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,1,Africa,Cabo Verde,1980,masculino,0.0,0.0,2.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,6.0,0.983156,0.000000
2,2,Africa,Cabo Verde,2011,femenino,0.0,0.0,0.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,3,Africa,Cabo Verde,2011,masculino,0.0,3.0,1.0,4.0,5.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,37.0,3.804557,28.024735
6,6,Africa,Egypt,1973,femenino,1.0,1.0,2.0,3.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,15.0,0.022613,0.132515

In [10]:
#Vemos que tanto hemos reducido el volumen de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8272 entries, 0 to 9537
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  8272 non-null   int64
 1   Region                      8272 non-null   object
 2   País                        8272 non-null   object
 3   Años                        8272 non-null   int64
 4   Sexo                        8272 non-null   object
 5   5-9 Años                    8272 non-null   float64
 6   10-14 Años                  8272 non-null   float64
 7   15-19 Años                  8272 non-null   float64
 8   20-24 Años                  8272 non-null   float64
 9   25-29 Años                  8272 non-null   float64
 10  30-34 Años                  8272 non-null   float64
 11  35-39 Años                  8272 non-null   float64
 12  40-44 Años                  8272 non-null   float64
 13  45-49 Años                  8272 non-null   float64
 14  50-54 Años                  8272 non-null   float64
 15  55-59 Años                  8272 non-null   float64
 16  60-64 Años                  8272 non-null   float64
 17  65-69 Años                  8272 non-null   float64
 18  70-74 Años                  8272 non-null   float64
 19  75-79 Años                  8272 non-null   float64
 20  80-84 Años                  8272 non-null   float64
 21  +85 Años                    8272 non-null   float64
 22  N° de suicidios             8272 non-null   float64
 23  Suicidio/Muertes generales  8272 non-null   float64
 24  Tasa por 100000 habitantes  8272 non-null   float64
dtypes: float64(20), int64(2), object(3)
memory usage: 1.6+ MB

In [11]:
#Ahora verificamos nuevamente los registros por continentes para visualizar cuanto se han reducido
#Contar registros que contienen "America" en la columna 'Region'
cuenta_america = df['Region'].str.contains('America', case=False, na=False).sum()
print(f"Cantidad de registros que contienen 'America': {cuenta_america}")

print("--------------------------")

#Contar registros que contienen "Oceania" en la columna 'Region'
cuenta_oceania = df['Region'].str.contains('Oceania', case=False, na=False).sum()
print(f"Cantidad de registros que contienen 'Oceania': {cuenta_oceania}")

print("--------------------------")

#Contar registros que contienen "Asia" en la columna 'Region'
cuenta_asia = df['Region'].str.contains('Asia', case=False, na=False).sum()
print(f"Cantidad de registros que contienen 'Asia': {cuenta_asia}")

print("--------------------------")

#Contar registros que contienen "África" en la columna 'Region'
cuenta_africa = df['Region'].str.contains('Africa', case=False, na=False).sum()
print(f"Cantidad de registros que contienen 'África': {cuenta_africa}")

print("--------------------------")

#Contar registros que contienen "Europa" en la columna 'Region'
cuenta_europa = df['Region'].str.contains('Europe', case=False, na=False).sum()
print(f"Cantidad de registros que contienen 'Europa': {cuenta_europa}")

Cantidad de registros que contienen 'America': 2918
--------------------------
Cantidad de registros que contienen 'Oceania': 222
--------------------------
Cantidad de registros que contienen 'Asia': 1620
--------------------------
Cantidad de registros que contienen 'África': 315
--------------------------
Cantidad de registros que contienen 'Europa': 3197

Lo que nos deja un volumen de datos aceptable para trabajar y reducido a la cantidad de datos.

Ahora lo siguiente es insertar una columna que identifique la generación dependiendo del rango de edad y del año.

Por lo que definimos la siguiente tabla de generaciones:

Grandiosos: entre 1900 y 1927

Silenciosos: entre 1928 y 1945

Boomers: generación nacida entre 1946 y 1964

Generación X: entre 1965 y 1981 

Generación Y: entre 1982 y 1996

Generación Z: entre 1997 y 2012

Generación Alfa: 2013 y 2020

Vamos a imputar datos:
- Las edades de:
    - 70 - 74 años
    - 75 - 79 años
    - 80 - 84 años
    - +85 años
    
Esto con el fin de obtener un marco generacional más estandarizado

In [12]:
#Imputamos datos (eliminamos columnas)
df = df.drop('+85 Años', axis=1)
df = df.drop('70-74 Años', axis=1)
df = df.drop('75-79 Años', axis=1)
df = df.drop('80-84 Años', axis=1)

In [13]:
df = df.drop('Unnamed: 0', axis=1)

In [14]:
df = df.drop('Suicidio/Muertes generales', axis=1)

In [15]:
df = df.drop('Tasa por 100000 habitantes', axis=1)

In [16]:
df = df.drop('N° de suicidios', axis=1)

In [17]:
#Revisamos la información del dataset que estamos procesando
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8272 entries, 0 to 9537
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Region      8272 non-null   object
 1   País        8272 non-null   object
 2   Años        8272 non-null   int64
 3   Sexo        8272 non-null   object
 4   5-9 Años    8272 non-null   float64
 5   10-14 Años  8272 non-null   float64
 6   15-19 Años  8272 non-null   float64
 7   20-24 Años  8272 non-null   float64
 8   25-29 Años  8272 non-null   float64
 9   30-34 Años  8272 non-null   float64
 10  35-39 Años  8272 non-null   float64
 11  40-44 Años  8272 non-null   float64
 12  45-49 Años  8272 non-null   float64
 13  50-54 Años  8272 non-null   float64
 14  55-59 Años  8272 non-null   float64
 15  60-64 Años  8272 non-null   float64
 16  65-69 Años  8272 non-null   float64
dtypes: float64(13), int64(1), object(3)
memory usage: 1.1+ MB

In [18]:
df.head()

,Region,País,Años,Sexo,5-9 Años,10-14 Años,15-19 Años,20-24 Años,25-29 Años,30-34 Años,35-39 Años,40-44 Años,45-49 Años,50-54 Años,55-59 Años,60-64 Años,65-69 Años
0,Africa,Cabo Verde,1980,femenino,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Africa,Cabo Verde,1980,masculino,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,Africa,Cabo Verde,2011,femenino,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0
3,Africa,Cabo Verde,2011,masculino,0.0,3.0,1.0,4.0,5.0,3.0,3.0,1.0,10.0,4.0,0.0,0.0,0.0
6,Africa,Egypt,1973,femenino,1.0,1.0,2.0,3.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0

Ahora con el fin de obtener datos más precisos y centralizados vamos a dividir el dataframe de la siguiente manera:

- Niñez y Pre-adolescencia: [5-9 Años] y [10-14 Años]

- Adolescencia y Juventud: [15-19 Años] y [20-24 Años]

- Adultez: [25-29 Años] y [30-34 Años]

- Madurez: [35-39 Años], [40-44 Años], [45-49 Años], [50-54 Años], [55-59 Años]

- Vejez: [60-64 Años], [65-69 Años]

Diviendo los dataframes:

In [19]:
# Supón que ya tienes tu DataFrame llamado `df`

# Dividir el DataFrame según los grupos de edad definidos

# 1. Niñez y Pre-adolescencia
df_ninez = df[['Region', 'País', 'Años', 'Sexo', '5-9 Años', '10-14 Años']]

# 2. Adolescencia y Juventud
df_adolescencia = df[['Region','País', 'Años', 'Sexo', '15-19 Años', '20-24 Años']]

# 3. Adultez
df_adultez = df[['Region', 'País', 'Años', 'Sexo', '25-29 Años', '30-34 Años']]

# 4. Madurez
df_madurez = df[['Region', 'País', 'Años', 'Sexo', '35-39 Años', '40-44 Años', '45-49 Años', '50-54 Años', 
                 '55-59 Años']]

# 5. Vejez
df_vejez = df[['Region', 'País', 'Años', 'Sexo', '60-64 Años', '65-69 Años']]

# Ahora tienes 5 DataFrames: df_ninez, df_adolescencia, df_adultez, df_madurez, df_vejez

Veamos la forma de los dataframes y la cantidad de datos:

(Tienen la misma cantidad de Datos que antes solo que los organizamos de otra manera, es decir, por separado)

In [20]:
print("Niñez y Preadolescencia")
df_ninez.head()

Niñez y Preadolescencia

   Region        País  Años       Sexo  5-9 Años  10-14 Años
0  Africa  Cabo Verde  1980   femenino       0.0         0.0
1  Africa  Cabo Verde  1980  masculino       0.0         0.0
2  Africa  Cabo Verde  2011   femenino       0.0         0.0
3  Africa  Cabo Verde  2011  masculino       0.0         3.0
6  Africa       Egypt  1973   femenino       1.0         1.0

In [21]:
df_ninez.shape

(8272, 6)

In [22]:
print("Adolescencia")
df_adolescencia.head()

Adolescencia

   Region        País  Años       Sexo  15-19 Años  20-24 Años
0  Africa  Cabo Verde  1980   femenino         1.0         0.0
1  Africa  Cabo Verde  1980  masculino         2.0         0.0
2  Africa  Cabo Verde  2011   femenino         0.0         1.0
3  Africa  Cabo Verde  2011  masculino         1.0         4.0
6  Africa       Egypt  1973   femenino         2.0         3.0

In [23]:
df_adolescencia.shape

(8272, 6)

In [24]:
print("Adultez")
df_adultez.head()

Adultez

   Region        País  Años       Sexo  25-29 Años  30-34 Años
0  Africa  Cabo Verde  1980   femenino         0.0         0.0
1  Africa  Cabo Verde  1980  masculino         0.0         0.0
2  Africa  Cabo Verde  2011   femenino         0.0         0.0
3  Africa  Cabo Verde  2011  masculino         5.0         3.0
6  Africa       Egypt  1973   femenino         0.0         1.0

In [25]:
df_adultez.shape

(8272, 6)

In [26]:
print("Madurez")
df_madurez.head()

Madurez

,Region,País,Años,Sexo,35-39 Años,40-44 Años,45-49 Años,50-54 Años,55-59 Años
0,Africa,Cabo Verde,1980,femenino,0.0,0.0,0.0,0.0,0.0
1,Africa,Cabo Verde,1980,masculino,0.0,0.0,1.0,0.0,1.0
2,Africa,Cabo Verde,2011,femenino,1.0,0.0,1.0,0.0,2.0
3,Africa,Cabo Verde,2011,masculino,3.0,1.0,10.0,4.0,0.0
6,Africa,Egypt,1973,femenino,0.0,2.0,0.0,1.0,0.0

In [27]:
df_adultez.shape

(8272, 6)

In [28]:
print("Vejez")
df_vejez.head()

Vejez

   Region        País  Años       Sexo  60-64 Años  65-69 Años
0  Africa  Cabo Verde  1980   femenino         0.0         0.0
1  Africa  Cabo Verde  1980  masculino         0.0         1.0
2  Africa  Cabo Verde  2011   femenino         0.0         0.0
3  Africa  Cabo Verde  2011  masculino         0.0         0.0
6  Africa       Egypt  1973   femenino         0.0         0.0

In [29]:
df_vejez.shape

(8272, 6)

Si analizamos nuevamente los datos generacionales:

Grandiosos: entre 1900 y 1927

Silenciosos: entre 1928 y 1945

Boomers: generación nacida entre 1946 y 1964

Generación X: entre 1965 y 1981 

Generación Y: entre 1982 y 1996

Generación Z: entre 1997 y 2012

Generación Alfa: 2013 y 2020

Ahora con la data divida de tal forma podemos ver los rangos de edad y la respectiva generación a la que pertenecen. Es decir se procede a introducir una columna que catalogue esa información.

# Análisis data frame : df_ninez (Niñez y Preadolescencia)

In [30]:
def asignar_generacion_sucesiva(anio, edad_min, edad_max):
    # Calcular el año de nacimiento para el rango de edad
    nacimiento_min = anio - edad_max
    nacimiento_max = anio - edad_min
    
    # Definir las generaciones
    generaciones = {
        'Grandiosos': (1900, 1927),
        'Silenciosos': (1928, 1945),
        'Boomers': (1946, 1964),
        'Generación X': (1965, 1981),
        'Generación Y': (1982, 1996),
        'Generación Z': (1997, 2012),
        'Generación Alfa': (2013, 2020)
    }

    # Lista para las generaciones correspondientes
    generacion_asignada = []
    
    # Recorrer las generaciones para ver a qué generaciones corresponde el rango de año
    generaciones_list = list(generaciones.items())
    for i in range(len(generaciones_list) - 1):
        generacion, (min_age, max_age) = generaciones_list[i]
        siguiente_generacion, (min_age_next, max_age_next) = generaciones_list[i + 1]
        
        # Verificar si el rango de edad de nacimiento cae dentro de las generaciones sucesivas
        if nacimiento_min >= min_age and nacimiento_max <= max_age:
            generacion_asignada.append(generacion)
        elif nacimiento_min >= min_age_next and nacimiento_max <= max_age_next:
            generacion_asignada.append(siguiente_generacion)
        elif nacimiento_min < min_age and nacimiento_max > max_age:
            generacion_asignada.append(f'{generacion}/{siguiente_generacion}')
    
    # Asignar generaciones sucesivas según el caso
    if not generacion_asignada:
        if nacimiento_min < 1928:  # Caso Grandiosos/Silenciosos
            generacion_asignada.append('Grandiosos/Silenciosos')
        elif nacimiento_min >= 1928 and nacimiento_min <= 1945:  # Caso Silenciosos/Boomers
            generacion_asignada.append('Silenciosos/Boomers')
        elif nacimiento_min >= 1946 and nacimiento_min <= 1964:  # Caso Boomers/Generación X
            generacion_asignada.append('Boomers/Generación X')
        elif nacimiento_min >= 1965 and nacimiento_min <= 1981:  # Caso Generación X/Generación Y
            generacion_asignada.append('Generación X/Generación Y')
        elif nacimiento_min >= 1982 and nacimiento_min <= 1996:  # Caso Generación Y/Generación Z
            generacion_asignada.append('Generación Y/Generación Z')
        elif nacimiento_min >= 1997 and nacimiento_min <= 2012:  # Caso Generación Z/Generación Alfa
            generacion_asignada.append('Generación Z/Generación Alfa')
        elif nacimiento_min >= 2013:  # Caso Generación Alfa
            generacion_asignada.append('Generación Alfa')

    return ', '.join(generacion_asignada)

# Crear las nuevas columnas basadas en los años y rangos de edad
df_ninez['G 5-9 Años'] = df_ninez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 5, 9))
df_ninez['G 10-14 Años'] = df_ninez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 10, 14))

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\594889260.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ninez['G 5-9 Años'] = df_ninez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 5, 9))
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\594889260.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ninez['G 10-14 Años'] = df_ninez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 10, 14))

In [31]:
df_ninez.head()

,Region,País,Años,Sexo,5-9 Años,10-14 Años,G 5-9 Años,G 10-14 Años
0,Africa,Cabo Verde,1980,femenino,0.0,0.0,"Generación X, Generación X","Generación X, Generación X"
1,Africa,Cabo Verde,1980,masculino,0.0,0.0,"Generación X, Generación X","Generación X, Generación X"
2,Africa,Cabo Verde,2011,femenino,0.0,0.0,"Generación Z, Generación Z","Generación Z, Generación Z"
3,Africa,Cabo Verde,2011,masculino,0.0,3.0,"Generación Z, Generación Z","Generación Z, Generación Z"
6,Africa,Egypt,1973,femenino,1.0,1.0,Boomers/Generación X,"Boomers, Boomers"

Ahora vamos a corregir para que solo diga Generación X en vez de Generación X, Generación X de modo que se vea más ordenada la información.

In [32]:
generacion_map = {
    'Generación X, Generación X': 'Generación X',
    'Generación Y, Generación Y': 'Generación Y',
    'Generación Z, Generación Z': 'Generación Z',
    'Grandiosos, Grandiosos': 'Grandiosos',
    'Silenciosos, Silenciosos': 'Silenciosos',
    'Generación Alfa, Generación Alfa': 'Generación Alfa',
    'Boomers, Boomers': 'Boomers'
}

# Aplica la traducción a los registros de la columna ya renombrada
df_ninez['G 5-9 Años'] = df_ninez['G 5-9 Años'].replace(generacion_map)
df_ninez['G 10-14 Años'] = df_ninez['G 10-14 Años'].replace(generacion_map)

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\2788282513.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ninez['G 5-9 Años'] = df_ninez['G 5-9 Años'].replace(generacion_map)
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\2788282513.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ninez['G 10-14 Años'] = df_ninez['G 10-14 Años'].replace(generacion_map)

In [33]:
df_ninez.head()

,Region,País,Años,Sexo,5-9 Años,10-14 Años,G 5-9 Años,G 10-14 Años
0,Africa,Cabo Verde,1980,femenino,0.0,0.0,Generación X,Generación X
1,Africa,Cabo Verde,1980,masculino,0.0,0.0,Generación X,Generación X
2,Africa,Cabo Verde,2011,femenino,0.0,0.0,Generación Z,Generación Z
3,Africa,Cabo Verde,2011,masculino,0.0,3.0,Generación Z,Generación Z
6,Africa,Egypt,1973,femenino,1.0,1.0,Boomers/Generación X,Boomers

Veamos el volumen de datos

In [34]:
df_ninez.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8272 entries, 0 to 9537
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Region        8272 non-null   object
 1   País          8272 non-null   object
 2   Años          8272 non-null   int64
 3   Sexo          8272 non-null   object
 4   5-9 Años      8272 non-null   float64
 5   10-14 Años    8272 non-null   float64
 6   G 5-9 Años    8272 non-null   object
 7   G 10-14 Años  8272 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 581.6+ KB

Vemos que se mantiene la misma cantidad que hemos reducido anteriormente.
Pero si mantenemos esto en los dataframes separados por edades de ciclo de vida tendremos un error de análisis.
Por lo que debemos eliminar el contador de N° de suicidios y crear uno nuevo a partir de la suma de los registros de las edades
N° de suicidios nuevo por edad = Suicidios(5-9 Años) + Suicidios(10-14 Años)

In [35]:
df_ninez.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8272 entries, 0 to 9537
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Region        8272 non-null   object
 1   País          8272 non-null   object
 2   Años          8272 non-null   int64
 3   Sexo          8272 non-null   object
 4   5-9 Años      8272 non-null   float64
 5   10-14 Años    8272 non-null   float64
 6   G 5-9 Años    8272 non-null   object
 7   G 10-14 Años  8272 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 581.6+ KB

Ahora debemos crear esta nueva  columna:
N° de suicidios nuevo por edad = Suicidios(5-9 Años) + Suicidios(10-14 Años)

Se cumple para cualquier caso mayor que 0. En caso de que sea 0 la suma se elimina la fila del registro.

In [36]:
# Crear la nueva columna con la suma de suicidios por edad
df_ninez['N° de suicidios'] = df_ninez['5-9 Años'] + df_ninez['10-14 Años']

# Eliminar filas donde la nueva columna sea igual a 0
df_ninez = df_ninez[df_ninez['N° de suicidios'] > 0]

# Ahora 'df_ninez' tiene la nueva columna y las filas con sumas de suicidio 0 han sido eliminadas.

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\300305062.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ninez['N° de suicidios'] = df_ninez['5-9 Años'] + df_ninez['10-14 Años']

In [37]:
df_ninez.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5406 entries, 3 to 9537
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Region           5406 non-null   object
 1   País             5406 non-null   object
 2   Años             5406 non-null   int64
 3   Sexo             5406 non-null   object
 4   5-9 Años         5406 non-null   float64
 5   10-14 Años       5406 non-null   float64
 6   G 5-9 Años       5406 non-null   object
 7   G 10-14 Años     5406 non-null   object
 8   N° de suicidios  5406 non-null   float64
dtypes: float64(3), int64(1), object(5)
memory usage: 422.3+ KB

In [38]:
df_ninez.head()

,Region,País,Años,Sexo,5-9 Años,10-14 Años,G 5-9 Años,G 10-14 Años,N° de suicidios
3,Africa,Cabo Verde,2011,masculino,0.0,3.0,Generación Z,Generación Z,3.0
6,Africa,Egypt,1973,femenino,1.0,1.0,Boomers/Generación X,Boomers,2.0
7,Africa,Egypt,1973,masculino,2.0,1.0,Boomers/Generación X,Boomers,3.0
8,Africa,Egypt,1974,femenino,0.0,1.0,Generación X,Boomers,1.0
9,Africa,Egypt,1974,masculino,0.0,1.0,Generación X,Boomers,1.0

In [39]:
#El número de datos:
df_ninez.shape

(5406, 9)

In [40]:
# Obtener la lista de columnas actuales
columnas = df_ninez.columns.tolist()

# Mover la columna 'N° de suicidios' a la sexta posición
columnas.insert(6, columnas.pop(columnas.index('N° de suicidios')))

# Reordenar el DataFrame con la nueva lista de columnas
df_ninez = df_ninez[columnas]

# Ahora 'df_ninez' tiene la columna 'N° de suicidios' en la sexta posición

In [41]:
df_ninez.head()

,Region,País,Años,Sexo,5-9 Años,10-14 Años,N° de suicidios,G 5-9 Años,G 10-14 Años
3,Africa,Cabo Verde,2011,masculino,0.0,3.0,3.0,Generación Z,Generación Z
6,Africa,Egypt,1973,femenino,1.0,1.0,2.0,Boomers/Generación X,Boomers
7,Africa,Egypt,1973,masculino,2.0,1.0,3.0,Boomers/Generación X,Boomers
8,Africa,Egypt,1974,femenino,0.0,1.0,1.0,Generación X,Boomers
9,Africa,Egypt,1974,masculino,0.0,1.0,1.0,Generación X,Boomers

In [42]:
#Cantidad de datos totales para el dataframe: df_ninez
df_ninez.shape

(5406, 9)

In [43]:
#Exportamos el dataframe individual que contiene estos datos:
df_ninez.to_csv('Niñez.csv', index=False)

# Análisis data frame : df_adolescencia (Adolescencia)

In [44]:
def asignar_generacion_sucesiva(anio, edad_min, edad_max):
    # Calcular el año de nacimiento para el rango de edad
    nacimiento_min = anio - edad_max
    nacimiento_max = anio - edad_min
    
    # Definir las generaciones
    generaciones = {
        'Grandiosos': (1900, 1927),
        'Silenciosos': (1928, 1945),
        'Boomers': (1946, 1964),
        'Generación X': (1965, 1981),
        'Generación Y': (1982, 1996),
        'Generación Z': (1997, 2012),
        'Generación Alfa': (2013, 2020)
    }

    # Lista para las generaciones correspondientes
    generacion_asignada = []
    
    # Recorrer las generaciones para ver a qué generaciones corresponde el rango de año
    generaciones_list = list(generaciones.items())
    for i in range(len(generaciones_list) - 1):
        generacion, (min_age, max_age) = generaciones_list[i]
        siguiente_generacion, (min_age_next, max_age_next) = generaciones_list[i + 1]
        
        # Verificar si el rango de edad de nacimiento cae dentro de las generaciones sucesivas
        if nacimiento_min >= min_age and nacimiento_max <= max_age:
            generacion_asignada.append(generacion)
        elif nacimiento_min >= min_age_next and nacimiento_max <= max_age_next:
            generacion_asignada.append(siguiente_generacion)
        elif nacimiento_min < min_age and nacimiento_max > max_age:
            generacion_asignada.append(f'{generacion}/{siguiente_generacion}')
    
    # Asignar generaciones sucesivas según el caso
    if not generacion_asignada:
        if nacimiento_min < 1928:  # Caso Grandiosos/Silenciosos
            generacion_asignada.append('Grandiosos/Silenciosos')
        elif nacimiento_min >= 1928 and nacimiento_min <= 1945:  # Caso Silenciosos/Boomers
            generacion_asignada.append('Silenciosos/Boomers')
        elif nacimiento_min >= 1946 and nacimiento_min <= 1964:  # Caso Boomers/Generación X
            generacion_asignada.append('Boomers/Generación X')
        elif nacimiento_min >= 1965 and nacimiento_min <= 1981:  # Caso Generación X/Generación Y
            generacion_asignada.append('Generación X/Generación Y')
        elif nacimiento_min >= 1982 and nacimiento_min <= 1996:  # Caso Generación Y/Generación Z
            generacion_asignada.append('Generación Y/Generación Z')
        elif nacimiento_min >= 1997 and nacimiento_min <= 2012:  # Caso Generación Z/Generación Alfa
            generacion_asignada.append('Generación Z/Generación Alfa')
        elif nacimiento_min >= 2013:  # Caso Generación Alfa
            generacion_asignada.append('Generación Alfa')

    return ', '.join(generacion_asignada)

# Crear las nuevas columnas basadas en los años y rangos de edad
df_adolescencia['G 15-19 Años'] = df_adolescencia['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 15, 19))
df_adolescencia['G 20-24 Años'] = df_adolescencia['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 20, 24))

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1374105206.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adolescencia['G 15-19 Años'] = df_adolescencia['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 15, 19))
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1374105206.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adolescencia['G 20-24 Años'] = df_adolescencia['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 20, 24))

In [45]:
generacion_map = {
    'Generación X, Generación X': 'Generación X',
    'Generación Y, Generación Y': 'Generación Y',
    'Generación Z, Generación Z': 'Generación Z',
    'Grandiosos, Grandiosos': 'Grandiosos',
    'Silenciosos, Silenciosos': 'Silenciosos',
    'Generación Alfa, Generación Alfa': 'Generación Alfa',
    'Boomers, Boomers': 'Boomers'
}

# Aplica la traducción a los registros de la columna ya renombrada
df_adolescencia['G 15-19 Años'] = df_adolescencia['G 15-19 Años'].replace(generacion_map)
df_adolescencia['G 20-24 Años'] = df_adolescencia['G 20-24 Años'].replace(generacion_map)

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1474046731.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adolescencia['G 15-19 Años'] = df_adolescencia['G 15-19 Años'].replace(generacion_map)
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1474046731.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adolescencia['G 20-24 Años'] = df_adolescencia['G 20-24 Años'].replace(generacion_map)

In [46]:
df_adolescencia.head()

,Region,País,Años,Sexo,15-19 Años,20-24 Años,G 15-19 Años,G 20-24 Años
0,Africa,Cabo Verde,1980,femenino,1.0,0.0,Boomers/Generación X,Boomers
1,Africa,Cabo Verde,1980,masculino,2.0,0.0,Boomers/Generación X,Boomers
2,Africa,Cabo Verde,2011,femenino,0.0,1.0,Generación Y,Generación Y
3,Africa,Cabo Verde,2011,masculino,1.0,4.0,Generación Y,Generación Y
6,Africa,Egypt,1973,femenino,2.0,3.0,Boomers,Boomers

In [47]:
df_adolescencia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8272 entries, 0 to 9537
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Region        8272 non-null   object
 1   País          8272 non-null   object
 2   Años          8272 non-null   int64
 3   Sexo          8272 non-null   object
 4   15-19 Años    8272 non-null   float64
 5   20-24 Años    8272 non-null   float64
 6   G 15-19 Años  8272 non-null   object
 7   G 20-24 Años  8272 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 581.6+ KB

In [48]:
# Crear la nueva columna con la suma de suicidios por edad
df_adolescencia['N° de suicidios'] = df_adolescencia['15-19 Años'] + df_adolescencia['20-24 Años']

# Eliminar filas donde la nueva columna sea igual a 0
df_adolescencia = df_adolescencia[df_adolescencia['N° de suicidios'] > 0]

# Ahora 'df_ninez' tiene la nueva columna y las filas con sumas de suicidio 0 han sido eliminadas.

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\370345322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adolescencia['N° de suicidios'] = df_adolescencia['15-19 Años'] + df_adolescencia['20-24 Años']

In [49]:
df_adolescencia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7187 entries, 0 to 9537
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Region           7187 non-null   object
 1   País             7187 non-null   object
 2   Años             7187 non-null   int64
 3   Sexo             7187 non-null   object
 4   15-19 Años       7187 non-null   float64
 5   20-24 Años       7187 non-null   float64
 6   G 15-19 Años     7187 non-null   object
 7   G 20-24 Años     7187 non-null   object
 8   N° de suicidios  7187 non-null   float64
dtypes: float64(3), int64(1), object(5)
memory usage: 561.5+ KB

In [50]:
# Obtener la lista de columnas actuales
columnas = df_adolescencia.columns.tolist()

# Mover la columna 'N° de suicidios' a la sexta posición
columnas.insert(6, columnas.pop(columnas.index('N° de suicidios')))

# Reordenar el DataFrame con la nueva lista de columnas
df_adolescencia = df_adolescencia[columnas]

# Ahora 'df_ninez' tiene la columna 'N° de suicidios' en la sexta posición

In [51]:
df_adolescencia.head()

,Region,País,Años,Sexo,15-19 Años,20-24 Años,N° de suicidios,G 15-19 Años,G 20-24 Años
0,Africa,Cabo Verde,1980,femenino,1.0,0.0,1.0,Boomers/Generación X,Boomers
1,Africa,Cabo Verde,1980,masculino,2.0,0.0,2.0,Boomers/Generación X,Boomers
2,Africa,Cabo Verde,2011,femenino,0.0,1.0,1.0,Generación Y,Generación Y
3,Africa,Cabo Verde,2011,masculino,1.0,4.0,5.0,Generación Y,Generación Y
6,Africa,Egypt,1973,femenino,2.0,3.0,5.0,Boomers,Boomers

In [52]:
df_adolescencia.shape

(7187, 9)

In [53]:
df_adolescencia.to_csv('Adolescencia.csv', index=False)

# Análisis data frame : df_adultez (Adultez)

In [54]:
def asignar_generacion_sucesiva(anio, edad_min, edad_max):
    # Calcular el año de nacimiento para el rango de edad
    nacimiento_min = anio - edad_max
    nacimiento_max = anio - edad_min
    
    # Definir las generaciones
    generaciones = {
        'Grandiosos': (1900, 1927),
        'Silenciosos': (1928, 1945),
        'Boomers': (1946, 1964),
        'Generación X': (1965, 1981),
        'Generación Y': (1982, 1996),
        'Generación Z': (1997, 2012),
        'Generación Alfa': (2013, 2020)
    }

    # Lista para las generaciones correspondientes
    generacion_asignada = []
    
    # Recorrer las generaciones para ver a qué generaciones corresponde el rango de año
    generaciones_list = list(generaciones.items())
    for i in range(len(generaciones_list) - 1):
        generacion, (min_age, max_age) = generaciones_list[i]
        siguiente_generacion, (min_age_next, max_age_next) = generaciones_list[i + 1]
        
        # Verificar si el rango de edad de nacimiento cae dentro de las generaciones sucesivas
        if nacimiento_min >= min_age and nacimiento_max <= max_age:
            generacion_asignada.append(generacion)
        elif nacimiento_min >= min_age_next and nacimiento_max <= max_age_next:
            generacion_asignada.append(siguiente_generacion)
        elif nacimiento_min < min_age and nacimiento_max > max_age:
            generacion_asignada.append(f'{generacion}/{siguiente_generacion}')
    
    # Asignar generaciones sucesivas según el caso
    if not generacion_asignada:
        if nacimiento_min < 1928:  # Caso Grandiosos/Silenciosos
            generacion_asignada.append('Grandiosos/Silenciosos')
        elif nacimiento_min >= 1928 and nacimiento_min <= 1945:  # Caso Silenciosos/Boomers
            generacion_asignada.append('Silenciosos/Boomers')
        elif nacimiento_min >= 1946 and nacimiento_min <= 1964:  # Caso Boomers/Generación X
            generacion_asignada.append('Boomers/Generación X')
        elif nacimiento_min >= 1965 and nacimiento_min <= 1981:  # Caso Generación X/Generación Y
            generacion_asignada.append('Generación X/Generación Y')
        elif nacimiento_min >= 1982 and nacimiento_min <= 1996:  # Caso Generación Y/Generación Z
            generacion_asignada.append('Generación Y/Generación Z')
        elif nacimiento_min >= 1997 and nacimiento_min <= 2012:  # Caso Generación Z/Generación Alfa
            generacion_asignada.append('Generación Z/Generación Alfa')
        elif nacimiento_min >= 2013:  # Caso Generación Alfa
            generacion_asignada.append('Generación Alfa')

    return ', '.join(generacion_asignada)

# Crear las nuevas columnas basadas en los años y rangos de edad
df_adultez['G 25-29 Años'] = df_adultez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 25, 29))
df_adultez['G 30-34 Años'] = df_adultez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 30, 34))

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\3224893640.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adultez['G 25-29 Años'] = df_adultez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 25, 29))
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\3224893640.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adultez['G 30-34 Años'] = df_adultez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 30, 34))

In [55]:
generacion_map = {
    'Generación X, Generación X': 'Generación X',
    'Generación Y, Generación Y': 'Generación Y',
    'Generación Z, Generación Z': 'Generación Z',
    'Grandiosos, Grandiosos': 'Grandiosos',
    'Silenciosos, Silenciosos': 'Silenciosos',
    'Generación Alfa, Generación Alfa': 'Generación Alfa',
    'Boomers, Boomers': 'Boomers'
}

# Aplica la traducción a los registros de la columna ya renombrada
df_adultez['G 25-29 Años'] = df_adultez['G 25-29 Años'].replace(generacion_map)
df_adultez['G 30-34 Años'] = df_adultez['G 30-34 Años'].replace(generacion_map)

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\2313450096.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adultez['G 25-29 Años'] = df_adultez['G 25-29 Años'].replace(generacion_map)
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\2313450096.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adultez['G 30-34 Años'] = df_adultez['G 30-34 Años'].replace(generacion_map)

In [56]:
df_adultez.head()

,Region,País,Años,Sexo,25-29 Años,30-34 Años,G 25-29 Años,G 30-34 Años
0,Africa,Cabo Verde,1980,femenino,0.0,0.0,Boomers,Boomers
1,Africa,Cabo Verde,1980,masculino,0.0,0.0,Boomers,Boomers
2,Africa,Cabo Verde,2011,femenino,0.0,0.0,Generación Y,Generación X
3,Africa,Cabo Verde,2011,masculino,5.0,3.0,Generación Y,Generación X
6,Africa,Egypt,1973,femenino,0.0,1.0,Silenciosos/Boomers,Silenciosos

In [57]:
df_adultez.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8272 entries, 0 to 9537
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Region        8272 non-null   object
 1   País          8272 non-null   object
 2   Años          8272 non-null   int64
 3   Sexo          8272 non-null   object
 4   25-29 Años    8272 non-null   float64
 5   30-34 Años    8272 non-null   float64
 6   G 25-29 Años  8272 non-null   object
 7   G 30-34 Años  8272 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 581.6+ KB

In [58]:
# Crear la nueva columna con la suma de suicidios por edad
df_adultez['N° de suicidios'] = df_adultez['25-29 Años'] + df_adultez['30-34 Años']

# Eliminar filas donde la nueva columna sea igual a 0
df_adultez = df_adultez[df_adultez['N° de suicidios'] > 0]

# Ahora 'df_ninez' tiene la nueva columna y las filas con sumas de suicidio 0 han sido eliminadas.

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\2685457681.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adultez['N° de suicidios'] = df_adultez['25-29 Años'] + df_adultez['30-34 Años']

In [59]:
# Obtener la lista de columnas actuales
columnas = df_adultez.columns.tolist()

# Mover la columna 'N° de suicidios' a la sexta posición
columnas.insert(6, columnas.pop(columnas.index('N° de suicidios')))

# Reordenar el DataFrame con la nueva lista de columnas
df_adultez = df_adultez[columnas]

In [60]:
df_adultez.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7318 entries, 3 to 9537
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Region           7318 non-null   object
 1   País             7318 non-null   object
 2   Años             7318 non-null   int64
 3   Sexo             7318 non-null   object
 4   25-29 Años       7318 non-null   float64
 5   30-34 Años       7318 non-null   float64
 6   N° de suicidios  7318 non-null   float64
 7   G 25-29 Años     7318 non-null   object
 8   G 30-34 Años     7318 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 571.7+ KB

In [61]:
df_adultez.head()

,Region,País,Años,Sexo,25-29 Años,30-34 Años,N° de suicidios,G 25-29 Años,G 30-34 Años
3,Africa,Cabo Verde,2011,masculino,5.0,3.0,8.0,Generación Y,Generación X
6,Africa,Egypt,1973,femenino,0.0,1.0,1.0,Silenciosos/Boomers,Silenciosos
7,Africa,Egypt,1973,masculino,3.0,0.0,3.0,Silenciosos/Boomers,Silenciosos
9,Africa,Egypt,1974,masculino,2.0,2.0,4.0,Silenciosos/Boomers,Silenciosos
10,Africa,Egypt,1975,femenino,2.0,0.0,2.0,Boomers,Silenciosos

In [62]:
df_adultez.shape

(7318, 9)

In [63]:
df_adultez.to_csv('Adultez.csv', index=False)

# Análisis data frame : df_madurez (madurez)

In [64]:
def asignar_generacion_sucesiva(anio, edad_min, edad_max):
    # Calcular el año de nacimiento para el rango de edad
    nacimiento_min = anio - edad_max
    nacimiento_max = anio - edad_min
    
    # Definir las generaciones
    generaciones = {
        'Grandiosos': (1900, 1927),
        'Silenciosos': (1928, 1945),
        'Boomers': (1946, 1964),
        'Generación X': (1965, 1981),
        'Generación Y': (1982, 1996),
        'Generación Z': (1997, 2012),
        'Generación Alfa': (2013, 2020)
    }

    # Lista para las generaciones correspondientes
    generacion_asignada = []
    
    # Recorrer las generaciones para ver a qué generaciones corresponde el rango de año
    generaciones_list = list(generaciones.items())
    for i in range(len(generaciones_list) - 1):
        generacion, (min_age, max_age) = generaciones_list[i]
        siguiente_generacion, (min_age_next, max_age_next) = generaciones_list[i + 1]
        
        # Verificar si el rango de edad de nacimiento cae dentro de las generaciones sucesivas
        if nacimiento_min >= min_age and nacimiento_max <= max_age:
            generacion_asignada.append(generacion)
        elif nacimiento_min >= min_age_next and nacimiento_max <= max_age_next:
            generacion_asignada.append(siguiente_generacion)
        elif nacimiento_min < min_age and nacimiento_max > max_age:
            generacion_asignada.append(f'{generacion}/{siguiente_generacion}')
    
    # Asignar generaciones sucesivas según el caso
    if not generacion_asignada:
        if nacimiento_min < 1928:  # Caso Grandiosos/Silenciosos
            generacion_asignada.append('Grandiosos/Silenciosos')
        elif nacimiento_min >= 1928 and nacimiento_min <= 1945:  # Caso Silenciosos/Boomers
            generacion_asignada.append('Silenciosos/Boomers')
        elif nacimiento_min >= 1946 and nacimiento_min <= 1964:  # Caso Boomers/Generación X
            generacion_asignada.append('Boomers/Generación X')
        elif nacimiento_min >= 1965 and nacimiento_min <= 1981:  # Caso Generación X/Generación Y
            generacion_asignada.append('Generación X/Generación Y')
        elif nacimiento_min >= 1982 and nacimiento_min <= 1996:  # Caso Generación Y/Generación Z
            generacion_asignada.append('Generación Y/Generación Z')
        elif nacimiento_min >= 1997 and nacimiento_min <= 2012:  # Caso Generación Z/Generación Alfa
            generacion_asignada.append('Generación Z/Generación Alfa')
        elif nacimiento_min >= 2013:  # Caso Generación Alfa
            generacion_asignada.append('Generación Alfa')

    return ', '.join(generacion_asignada)

# Crear las nuevas columnas basadas en los años y rangos de edad
df_madurez['G 35-39 Años'] = df_madurez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 35, 39))
df_madurez['G 40-44 Años'] = df_madurez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 40, 44))
df_madurez['G 45-49 Años'] = df_madurez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 45, 49))
df_madurez['G 50-54 Años'] = df_madurez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 50, 54))
df_madurez['G 55-59 Años'] = df_madurez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 55, 59))

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1481169637.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_madurez['G 35-39 Años'] = df_madurez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 35, 39))
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1481169637.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_madurez['G 40-44 Años'] = df_madurez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 40, 44))
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1481169637.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_madurez['G 45-49 Años'] = df_madurez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 45, 49))
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1481169637.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_madurez['G 50-54 Años'] = df_madurez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 50, 54))
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1481169637.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_madurez['G 55-59 Años'] = df_madurez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 55, 59))

In [65]:
generacion_map = {
    'Generación X, Generación X': 'Generación X',
    'Generación Y, Generación Y': 'Generación Y',
    'Generación Z, Generación Z': 'Generación Z',
    'Grandiosos, Grandiosos': 'Grandiosos',
    'Silenciosos, Silenciosos': 'Silenciosos',
    'Generación Alfa, Generación Alfa': 'Generación Alfa',
    'Boomers, Boomers': 'Boomers'
}

# Aplica la traducción a los registros de la columna ya renombrada
df_madurez['G 35-39 Años'] = df_madurez['G 35-39 Años'].replace(generacion_map)
df_madurez['G 40-44 Años'] = df_madurez['G 40-44 Años'].replace(generacion_map)
df_madurez['G 45-49 Años'] = df_madurez['G 45-49 Años'].replace(generacion_map)
df_madurez['G 50-54 Años'] = df_madurez['G 50-54 Años'].replace(generacion_map)
df_madurez['G 55-59 Años'] = df_madurez['G 55-59 Años'].replace(generacion_map)

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\3672908385.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_madurez['G 35-39 Años'] = df_madurez['G 35-39 Años'].replace(generacion_map)
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\3672908385.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_madurez['G 40-44 Años'] = df_madurez['G 40-44 Años'].replace(generacion_map)
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\3672908385.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_madurez['G 45-49 Años'] = df_madurez['G 45-49 Años'].replace(generacion_map)
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\3672908385.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_madurez['G 50-54 Años'] = df_madurez['G 50-54 Años'].replace(generacion_map)
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\3672908385.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_madurez['G 55-59 Años'] = df_madurez['G 55-59 Años'].replace(generacion_map)

In [66]:
df_madurez.head()

,Region,País,Años,Sexo,35-39 Años,40-44 Años,45-49 Años,50-54 Años,55-59 Años,G 35-39 Años,G 40-44 Años,G 45-49 Años,G 50-54 Años,G 55-59 Años
0,Africa,Cabo Verde,1980,femenino,0.0,0.0,0.0,0.0,0.0,Silenciosos,Silenciosos,Silenciosos,Grandiosos/Silenciosos,Grandiosos
1,Africa,Cabo Verde,1980,masculino,0.0,0.0,1.0,0.0,1.0,Silenciosos,Silenciosos,Silenciosos,Grandiosos/Silenciosos,Grandiosos
2,Africa,Cabo Verde,2011,femenino,1.0,0.0,1.0,0.0,2.0,Generación X,Generación X,Boomers/Generación X,Boomers,Boomers
3,Africa,Cabo Verde,2011,masculino,3.0,1.0,10.0,4.0,0.0,Generación X,Generación X,Boomers/Generación X,Boomers,Boomers
6,Africa,Egypt,1973,femenino,0.0,2.0,0.0,1.0,0.0,Silenciosos,Silenciosos,Grandiosos/Silenciosos,Grandiosos,Grandiosos

In [67]:
df_madurez.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8272 entries, 0 to 9537
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Region        8272 non-null   object
 1   País          8272 non-null   object
 2   Años          8272 non-null   int64
 3   Sexo          8272 non-null   object
 4   35-39 Años    8272 non-null   float64
 5   40-44 Años    8272 non-null   float64
 6   45-49 Años    8272 non-null   float64
 7   50-54 Años    8272 non-null   float64
 8   55-59 Años    8272 non-null   float64
 9   G 35-39 Años  8272 non-null   object
 10  G 40-44 Años  8272 non-null   object
 11  G 45-49 Años  8272 non-null   object
 12  G 50-54 Años  8272 non-null   object
 13  G 55-59 Años  8272 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 969.4+ KB

In [72]:
# Crear la nueva columna con la suma de suicidios por edad
df_madurez['N° de suicidios'] = df_madurez['35-39 Años'] + df_madurez['40-44 Años'] + df_madurez['45-49 Años'] + df_madurez['50-54 Años'] + df_madurez['55-59 Años']
# Eliminar filas donde la nueva columna sea igual a 0
df_madurez = df_madurez[df_madurez['N° de suicidios'] > 0]

In [76]:
# Obtener la lista de columnas actuales
columnas = df_madurez.columns.tolist()

# Mover la columna 'N° de suicidios' a la sexta posición
columnas.insert(9, columnas.pop(columnas.index('N° de suicidios')))

# Reordenar el DataFrame con la nueva lista de columnas
df_madurez = df_madurez[columnas]

In [77]:
df_madurez.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7375 entries, 1 to 9537
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Region           7375 non-null   object
 1   País             7375 non-null   object
 2   Años             7375 non-null   int64
 3   Sexo             7375 non-null   object
 4   35-39 Años       7375 non-null   float64
 5   40-44 Años       7375 non-null   float64
 6   45-49 Años       7375 non-null   float64
 7   50-54 Años       7375 non-null   float64
 8   55-59 Años       7375 non-null   float64
 9   N° de suicidios  7375 non-null   float64
 10  G 35-39 Años     7375 non-null   object
 11  G 40-44 Años     7375 non-null   object
 12  G 45-49 Años     7375 non-null   object
 13  G 50-54 Años     7375 non-null   object
 14  G 55-59 Años     7375 non-null   object
dtypes: float64(6), int64(1), object(8)
memory usage: 921.9+ KB

In [78]:
df_madurez.head()

,Region,País,Años,Sexo,35-39 Años,40-44 Años,45-49 Años,50-54 Años,55-59 Años,N° de suicidios,G 35-39 Años,G 40-44 Años,G 45-49 Años,G 50-54 Años,G 55-59 Años
1,Africa,Cabo Verde,1980,masculino,0.0,0.0,1.0,0.0,1.0,2.0,Silenciosos,Silenciosos,Silenciosos,Grandiosos/Silenciosos,Grandiosos
2,Africa,Cabo Verde,2011,femenino,1.0,0.0,1.0,0.0,2.0,4.0,Generación X,Generación X,Boomers/Generación X,Boomers,Boomers
3,Africa,Cabo Verde,2011,masculino,3.0,1.0,10.0,4.0,0.0,18.0,Generación X,Generación X,Boomers/Generación X,Boomers,Boomers
6,Africa,Egypt,1973,femenino,0.0,2.0,0.0,1.0,0.0,3.0,Silenciosos,Silenciosos,Grandiosos/Silenciosos,Grandiosos,Grandiosos
7,Africa,Egypt,1973,masculino,2.0,1.0,1.0,2.0,1.0,7.0,Silenciosos,Silenciosos,Grandiosos/Silenciosos,Grandiosos,Grandiosos

In [79]:
df_madurez.shape

(7375, 15)

In [80]:
df_madurez.to_csv('Madurez.csv', index=False)

# Análisis data frame : df_vejez (vejez)

In [81]:
def asignar_generacion_sucesiva(anio, edad_min, edad_max):
    # Calcular el año de nacimiento para el rango de edad
    nacimiento_min = anio - edad_max
    nacimiento_max = anio - edad_min
    
    # Definir las generaciones
    generaciones = {
        'Grandiosos': (1900, 1927),
        'Silenciosos': (1928, 1945),
        'Boomers': (1946, 1964),
        'Generación X': (1965, 1981),
        'Generación Y': (1982, 1996),
        'Generación Z': (1997, 2012),
        'Generación Alfa': (2013, 2020)
    }

    # Lista para las generaciones correspondientes
    generacion_asignada = []
    
    # Recorrer las generaciones para ver a qué generaciones corresponde el rango de año
    generaciones_list = list(generaciones.items())
    for i in range(len(generaciones_list) - 1):
        generacion, (min_age, max_age) = generaciones_list[i]
        siguiente_generacion, (min_age_next, max_age_next) = generaciones_list[i + 1]
        
        # Verificar si el rango de edad de nacimiento cae dentro de las generaciones sucesivas
        if nacimiento_min >= min_age and nacimiento_max <= max_age:
            generacion_asignada.append(generacion)
        elif nacimiento_min >= min_age_next and nacimiento_max <= max_age_next:
            generacion_asignada.append(siguiente_generacion)
        elif nacimiento_min < min_age and nacimiento_max > max_age:
            generacion_asignada.append(f'{generacion}/{siguiente_generacion}')
    
    # Asignar generaciones sucesivas según el caso
    if not generacion_asignada:
        if nacimiento_min < 1928:  # Caso Grandiosos/Silenciosos
            generacion_asignada.append('Grandiosos/Silenciosos')
        elif nacimiento_min >= 1928 and nacimiento_min <= 1945:  # Caso Silenciosos/Boomers
            generacion_asignada.append('Silenciosos/Boomers')
        elif nacimiento_min >= 1946 and nacimiento_min <= 1964:  # Caso Boomers/Generación X
            generacion_asignada.append('Boomers/Generación X')
        elif nacimiento_min >= 1965 and nacimiento_min <= 1981:  # Caso Generación X/Generación Y
            generacion_asignada.append('Generación X/Generación Y')
        elif nacimiento_min >= 1982 and nacimiento_min <= 1996:  # Caso Generación Y/Generación Z
            generacion_asignada.append('Generación Y/Generación Z')
        elif nacimiento_min >= 1997 and nacimiento_min <= 2012:  # Caso Generación Z/Generación Alfa
            generacion_asignada.append('Generación Z/Generación Alfa')
        elif nacimiento_min >= 2013:  # Caso Generación Alfa
            generacion_asignada.append('Generación Alfa')

    return ', '.join(generacion_asignada)

# Crear las nuevas columnas basadas en los años y rangos de edad
df_vejez['G 60-64 Años'] = df_vejez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 60, 64))
df_vejez['G 65-69 Años'] = df_vejez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 65, 69))

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\2522909723.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vejez['G 60-64 Años'] = df_vejez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 60, 64))
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\2522909723.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vejez['G 65-69 Años'] = df_vejez['Años'].apply(lambda x: asignar_generacion_sucesiva(x, 65, 69))

In [82]:
generacion_map = {
    'Generación X, Generación X': 'Generación X',
    'Generación Y, Generación Y': 'Generación Y',
    'Generación Z, Generación Z': 'Generación Z',
    'Grandiosos, Grandiosos': 'Grandiosos',
    'Silenciosos, Silenciosos': 'Silenciosos',
    'Generación Alfa, Generación Alfa': 'Generación Alfa',
    'Boomers, Boomers': 'Boomers'
}

# Aplica la traducción a los registros de la columna ya renombrada
df_vejez['G 60-64 Años'] = df_vejez['G 60-64 Años'].replace(generacion_map)
df_vejez['G 65-69 Años'] = df_vejez['G 65-69 Años'].replace(generacion_map)

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1054677198.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vejez['G 60-64 Años'] = df_vejez['G 60-64 Años'].replace(generacion_map)
C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1054677198.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vejez['G 65-69 Años'] = df_vejez['G 65-69 Años'].replace(generacion_map)

In [83]:
df_vejez.head()

,Region,País,Años,Sexo,60-64 Años,65-69 Años,G 60-64 Años,G 65-69 Años
0,Africa,Cabo Verde,1980,femenino,0.0,0.0,Grandiosos,Grandiosos
1,Africa,Cabo Verde,1980,masculino,0.0,1.0,Grandiosos,Grandiosos
2,Africa,Cabo Verde,2011,femenino,0.0,0.0,Boomers,Silenciosos/Boomers
3,Africa,Cabo Verde,2011,masculino,0.0,0.0,Boomers,Silenciosos/Boomers
6,Africa,Egypt,1973,femenino,0.0,0.0,Grandiosos,Grandiosos

In [84]:
df_vejez.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8272 entries, 0 to 9537
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Region        8272 non-null   object
 1   País          8272 non-null   object
 2   Años          8272 non-null   int64
 3   Sexo          8272 non-null   object
 4   60-64 Años    8272 non-null   float64
 5   65-69 Años    8272 non-null   float64
 6   G 60-64 Años  8272 non-null   object
 7   G 65-69 Años  8272 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 581.6+ KB

In [85]:
# Crear la nueva columna con la suma de suicidios por edad
df_vejez['N° de suicidios'] = df_vejez['60-64 Años'] + df_vejez['65-69 Años']
# Eliminar filas donde la nueva columna sea igual a 0
df_vejez = df_vejez[df_vejez['N° de suicidios'] > 0]

C:\Users\PC\AppData\Local\Temp\ipykernel_12212\1481640841.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vejez['N° de suicidios'] = df_vejez['60-64 Años'] + df_vejez['65-69 Años']

In [86]:
# Obtener la lista de columnas actuales
columnas = df_vejez.columns.tolist()

# Mover la columna 'N° de suicidios' a la sexta posición
columnas.insert(6, columnas.pop(columnas.index('N° de suicidios')))

# Reordenar el DataFrame con la nueva lista de columnas
df_vejez = df_vejez[columnas]

In [87]:
df_vejez.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6791 entries, 1 to 9537
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Region           6791 non-null   object
 1   País             6791 non-null   object
 2   Años             6791 non-null   int64
 3   Sexo             6791 non-null   object
 4   60-64 Años       6791 non-null   float64
 5   65-69 Años       6791 non-null   float64
 6   N° de suicidios  6791 non-null   float64
 7   G 60-64 Años     6791 non-null   object
 8   G 65-69 Años     6791 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 530.5+ KB

In [88]:
df_vejez.head()

,Region,País,Años,Sexo,60-64 Años,65-69 Años,N° de suicidios,G 60-64 Años,G 65-69 Años
1,Africa,Cabo Verde,1980,masculino,0.0,1.0,1.0,Grandiosos,Grandiosos
7,Africa,Egypt,1973,masculino,0.0,1.0,1.0,Grandiosos,Grandiosos
9,Africa,Egypt,1974,masculino,1.0,0.0,1.0,Grandiosos,Grandiosos
10,Africa,Egypt,1975,femenino,1.0,0.0,1.0,Grandiosos,Grandiosos
11,Africa,Egypt,1975,masculino,2.0,0.0,2.0,Grandiosos,Grandiosos

In [89]:
df_vejez.shape

(6791, 9)

In [90]:
df_vejez.to_csv('Vejez.csv', index=False)