Esto es una prubea para llamar todos los dataframe por separada en un mismo notebook

In [1]:
import pandas as pd
import numpy as np

In [4]:
#Cargamos los datos que hemos procesados completamente, empezando por Ni
file1 = 'Niñez.csv'

#Leemos el archivo
df_ninez = pd.read_csv(file1)

In [5]:
df_ninez.head()

,Region,País,Años,Sexo,5-9 Años,10-14 Años,N° de suicidios,G 5-9 Años,G 10-14 Años
0,Africa,Cabo Verde,2011,masculino,0.0,3.0,3.0,Generación Z,Generación Z
1,Africa,Egypt,1973,femenino,1.0,1.0,2.0,Boomers/Generación X,Boomers
2,Africa,Egypt,1973,masculino,2.0,1.0,3.0,Boomers/Generación X,Boomers
3,Africa,Egypt,1974,femenino,0.0,1.0,1.0,Generación X,Boomers
4,Africa,Egypt,1974,masculino,0.0,1.0,1.0,Generación X,Boomers

In [6]:
file2 = 'Adolescencia.csv'
df_adolescencia = pd.read_csv(file2)

In [7]:
df_adolescencia.head()

,Region,País,Años,Sexo,15-19 Años,20-24 Años,N° de suicidios,G 15-19 Años,G 20-24 Años
0,Africa,Cabo Verde,1980,femenino,1.0,0.0,1.0,Boomers/Generación X,Boomers
1,Africa,Cabo Verde,1980,masculino,2.0,0.0,2.0,Boomers/Generación X,Boomers
2,Africa,Cabo Verde,2011,femenino,0.0,1.0,1.0,Generación Y,Generación Y
3,Africa,Cabo Verde,2011,masculino,1.0,4.0,5.0,Generación Y,Generación Y
4,Africa,Egypt,1973,femenino,2.0,3.0,5.0,Boomers,Boomers

In [8]:
file3 = 'Adultez.csv'
df_adultez = pd.read_csv(file3)

In [9]:
df_adultez.head()

,Region,País,Años,Sexo,25-29 Años,30-34 Años,N° de suicidios,G 25-29 Años,G 30-34 Años
0,Africa,Cabo Verde,2011,masculino,5.0,3.0,8.0,Generación Y,Generación X
1,Africa,Egypt,1973,femenino,0.0,1.0,1.0,Silenciosos/Boomers,Silenciosos
2,Africa,Egypt,1973,masculino,3.0,0.0,3.0,Silenciosos/Boomers,Silenciosos
3,Africa,Egypt,1974,masculino,2.0,2.0,4.0,Silenciosos/Boomers,Silenciosos
4,Africa,Egypt,1975,femenino,2.0,0.0,2.0,Boomers,Silenciosos

In [10]:
file4 = 'Madurez.csv'
df_madurez = pd.read_csv(file4)

In [11]:
df_madurez.head()

,Region,País,Años,Sexo,35-39 Años,40-44 Años,45-49 Años,50-54 Años,55-59 Años,N° de suicidios,G 35-39 Años,G 40-44 Años,G 45-49 Años,G 50-54 Años,G 55-59 Años
0,Africa,Cabo Verde,1980,masculino,0.0,0.0,1.0,0.0,1.0,2.0,Silenciosos,Silenciosos,Silenciosos,Grandiosos/Silenciosos,Grandiosos
1,Africa,Cabo Verde,2011,femenino,1.0,0.0,1.0,0.0,2.0,4.0,Generación X,Generación X,Boomers/Generación X,Boomers,Boomers
2,Africa,Cabo Verde,2011,masculino,3.0,1.0,10.0,4.0,0.0,18.0,Generación X,Generación X,Boomers/Generación X,Boomers,Boomers
3,Africa,Egypt,1973,femenino,0.0,2.0,0.0,1.0,0.0,3.0,Silenciosos,Silenciosos,Grandiosos/Silenciosos,Grandiosos,Grandiosos
4,Africa,Egypt,1973,masculino,2.0,1.0,1.0,2.0,1.0,7.0,Silenciosos,Silenciosos,Grandiosos/Silenciosos,Grandiosos,Grandiosos

In [12]:
file5 = 'Vejez.csv'
df_vejez = pd.read_csv(file5)

In [13]:
df_vejez.head()

,Region,País,Años,Sexo,60-64 Años,65-69 Años,N° de suicidios,G 60-64 Años,G 65-69 Años
0,Africa,Cabo Verde,1980,masculino,0.0,1.0,1.0,Grandiosos,Grandiosos
1,Africa,Egypt,1973,masculino,0.0,1.0,1.0,Grandiosos,Grandiosos
2,Africa,Egypt,1974,masculino,1.0,0.0,1.0,Grandiosos,Grandiosos
3,Africa,Egypt,1975,femenino,1.0,0.0,1.0,Grandiosos,Grandiosos
4,Africa,Egypt,1975,masculino,2.0,0.0,2.0,Grandiosos,Grandiosos