In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [11]:
file = 'suicidio.csv'

In [15]:
df = pd.read_csv(file)

In [16]:
df.head()

,Region Name,Country Name,Year,Sex,0 Year,1-4 Years,5-9 Years,10-14 Years,15-19 Years,20-24 Years,...,60-64 Years,65-69 Years,70-74 Years,75-79 Years,80-84 Years,85+ Years,Unknown Age,No of Suicides,Percentage of cause-specific deaths out of total deaths,Death rate per 100 000 population
0,Africa,Cabo Verde,1980,Female,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,Male,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,Female,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,Male,0.0,0.0,0.0,3.0,1.0,4.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,Female,0.0,0.0,0.0,0.0,6.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515

In [17]:
df.columns

Index(['Region Name', 'Country Name', 'Year', 'Sex', '0 Year', '1-4 Years',
       '5-9 Years', '10-14 Years', '15-19 Years', '20-24 Years', '25-29 Years',
       '30-34 Years', '35-39 Years', '40-44 Years', '45-49 Years',
       '50-54 Years', '55-59 Years', '60-64 Years', '65-69 Years',
       '70-74 Years', '75-79 Years', '80-84 Years', '85+ Years', 'Unknown Age',
       'No of Suicides',
       'Percentage of cause-specific deaths out of total deaths',
       'Death rate per 100 000 population'],
      dtype='object')

In [33]:
#Renombramos las columnas:
df = df.rename(columns={'Region Name':'Region',
                        'Country Name':'País',
                        'Year':'Años',
                       'Sex':'Sexo',
                       '0 Year':'0 años',
                       '1-4 Years': '1-4 Años',
                       '5-9 Years': '5-9 Años',
                       '10-14 Years': '10-14 Años',
                       '15-19 Years': '15-19 Años',
                       '20-24 Years': '20-24 Años',
                       '25-29 Years': '25-29 Años',
                       '30-34 Years': '30-34 Años',
                       '35-39 Years': '35-39 Años',
                       '40-44 Years': '40-44 Años',
                       '45-49 Years': '45-49 Años',
                       '50-54 Years': '50-54 Años',
                       '55-59 Years': '55-59 Años',
                       '60-64 Years': '60-64 Años',
                       '65-69 Years': '65-69 Años',
                       '70-74 Years': '70-74 Años',
                       '75-79 Years': '75-79 Años',
                       '80-84 Years': '80-84 Años',
                       '85+ Years': '+85 Años',
                       'Unknown Age': 'Edad desconocida',
                       'No of Suicides':'N° de suicidios',
                       'Percentage of cause-specific deaths out of total deaths': 'Suicidio/Muertes generales'})

df = df.rename(columns={'Death rate per 100 000 population': 'Tasa por 100000 habitantes'})

In [34]:
df.columns

Index(['Region', 'País', 'Años', 'Sexo', '0 años', '1-4 Años', '5-9 Años',
       '10-14 Años', '15-19 Años', '20-24 Años', '25-29 Años', '30-34 Años',
       '35-39 Años', '40-44 Años', '45-49 Años', '50-54 Años', '55-59 Años',
       '60-64 Años', '65-69 Años', '70-74 Años', '75-79 Años', '80-84 Años',
       '+85 Años', 'Edad desconocida', 'N° de suicidios',
       'Suicidio/Muertes generales',
       'Tasa de Mortalidad por 100000 habitantes'],
      dtype='object')

In [35]:
df.head()

,Region,País,Años,Sexo,0 años,1-4 Años,5-9 Años,10-14 Años,15-19 Años,20-24 Años,...,60-64 Años,65-69 Años,70-74 Años,75-79 Años,80-84 Años,+85 Años,Edad desconocida,N° de suicidios,Suicidio/Muertes generales,Tasa de Mortalidad por 100000 habitantes
0,Africa,Cabo Verde,1980,Female,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,Male,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,Female,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,Male,0.0,0.0,0.0,3.0,1.0,4.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,Female,0.0,0.0,0.0,0.0,6.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515

In [36]:
df.shape

(9538, 27)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9538 entries, 0 to 9537
Data columns (total 27 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    9538 non-null   object
 1   País                                      9538 non-null   object
 2   Años                                      9538 non-null   int64
 3   Sexo                                      9538 non-null   object
 4   0 años                                    9538 non-null   float64
 5   1-4 Años                                  9538 non-null   float64
 6   5-9 Años                                  9538 non-null   float64
 7   10-14 Años                                9538 non-null   float64
 8   15-19 Años                                9538 non-null   float64
 9   20-24 Años                                9538 non-null   float64
 10  25-29 Años                                9538 non-null   float64
 11  30-34 Años                                9538 non-null   float64
 12  35-39 Años                                9538 non-null   float64
 13  40-44 Años                                9538 non-null   float64
 14  45-49 Años                                9538 non-null   float64
 15  50-54 Años                                9538 non-null   float64
 16  55-59 Años                                9538 non-null   float64
 17  60-64 Años                                9538 non-null   float64
 18  65-69 Años                                9538 non-null   float64
 19  70-74 Años                                9538 non-null   float64
 20  75-79 Años                                9538 non-null   float64
 21  80-84 Años                                9538 non-null   float64
 22  +85 Años                                  9538 non-null   float64
 23  Edad desconocida                          9538 non-null   float64
 24  N° de suicidios                           9538 non-null   float64
 25  Suicidio/Muertes generales                9538 non-null   float64
 26  Tasa de Mortalidad por 100000 habitantes  9538 non-null   float64
dtypes: float64(23), int64(1), object(3)
memory usage: 2.0+ MB

In [39]:
print(df.isnull().sum())

Region                                      0
País                                        0
Años                                        0
Sexo                                        0
0 años                                      0
1-4 Años                                    0
5-9 Años                                    0
10-14 Años                                  0
15-19 Años                                  0
20-24 Años                                  0
25-29 Años                                  0
30-34 Años                                  0
35-39 Años                                  0
40-44 Años                                  0
45-49 Años                                  0
50-54 Años                                  0
55-59 Años                                  0
60-64 Años                                  0
65-69 Años                                  0
70-74 Años                                  0
75-79 Años                                  0
80-84 Años                                  0
+85 Años                                    0
Edad desconocida                            0
N° de suicidios                             0
Suicidio/Muertes generales                  0
Tasa de Mortalidad por 100000 habitantes    0
dtype: int64

In [46]:
#Eliminamos algunas columnas (imputamos datos)
df = df.drop ('0 años', axis = 1)

In [47]:
df.head()

,Region,País,Años,Sexo,1-4 Años,5-9 Años,10-14 Años,15-19 Años,20-24 Años,25-29 Años,...,60-64 Años,65-69 Años,70-74 Años,75-79 Años,80-84 Años,+85 Años,Edad desconocida,N° de suicidios,Suicidio/Muertes generales,Tasa de Mortalidad por 100000 habitantes
0,Africa,Cabo Verde,1980,Female,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,Male,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,Female,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,Male,0.0,0.0,3.0,1.0,4.0,5.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,Female,0.0,0.0,0.0,6.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515

In [49]:
df.dropna(how='all')

,Region,País,Años,Sexo,1-4 Años,5-9 Años,10-14 Años,15-19 Años,20-24 Años,25-29 Años,...,60-64 Años,65-69 Años,70-74 Años,75-79 Años,80-84 Años,+85 Años,Edad desconocida,N° de suicidios,Suicidio/Muertes generales,Tasa de Mortalidad por 100000 habitantes
0,Africa,Cabo Verde,1980,Female,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,Male,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,Female,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,Male,0.0,0.0,3.0,1.0,4.0,5.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,Female,0.0,0.0,0.0,6.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9533,Oceania,New Zealand,2014,Male,0.0,0.0,2.0,27.0,41.0,38.0,...,26.0,13.0,14.0,4.0,8.0,10.0,0.0,379.0,10.703106,16.744376
9534,Oceania,New Zealand,2015,Female,0.0,0.0,4.0,25.0,16.0,8.0,...,12.0,7.0,3.0,4.0,1.0,1.0,0.0,144.0,8.828921,5.458483
9535,Oceania,New Zealand,2015,Male,0.0,0.0,5.0,32.0,38.0,42.0,...,24.0,14.0,7.0,13.0,9.0,6.0,0.0,386.0,11.143815,16.703400
9536,Oceania,New Zealand,2016,Female,0.0,0.0,3.0,10.0,16.0,18.0,...,4.0,5.0,3.0,2.0,2.0,2.0,0.0,145.0,8.362872,5.342887
9537,Oceania,New Zealand,2016,Male,0.0,0.0,5.0,34.0,52.0,50.0,...,23.0,18.0,5.0,10.0,8.0,10.0,0.0,416.0,11.974208,17.383315

In [50]:
df.dropna(how='any')

,Region,País,Años,Sexo,1-4 Años,5-9 Años,10-14 Años,15-19 Años,20-24 Años,25-29 Años,...,60-64 Años,65-69 Años,70-74 Años,75-79 Años,80-84 Años,+85 Años,Edad desconocida,N° de suicidios,Suicidio/Muertes generales,Tasa de Mortalidad por 100000 habitantes
0,Africa,Cabo Verde,1980,Female,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,Male,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,Female,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,Male,0.0,0.0,3.0,1.0,4.0,5.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,Female,0.0,0.0,0.0,6.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9533,Oceania,New Zealand,2014,Male,0.0,0.0,2.0,27.0,41.0,38.0,...,26.0,13.0,14.0,4.0,8.0,10.0,0.0,379.0,10.703106,16.744376
9534,Oceania,New Zealand,2015,Female,0.0,0.0,4.0,25.0,16.0,8.0,...,12.0,7.0,3.0,4.0,1.0,1.0,0.0,144.0,8.828921,5.458483
9535,Oceania,New Zealand,2015,Male,0.0,0.0,5.0,32.0,38.0,42.0,...,24.0,14.0,7.0,13.0,9.0,6.0,0.0,386.0,11.143815,16.703400
9536,Oceania,New Zealand,2016,Female,0.0,0.0,3.0,10.0,16.0,18.0,...,4.0,5.0,3.0,2.0,2.0,2.0,0.0,145.0,8.362872,5.342887
9537,Oceania,New Zealand,2016,Male,0.0,0.0,5.0,34.0,52.0,50.0,...,23.0,18.0,5.0,10.0,8.0,10.0,0.0,416.0,11.974208,17.383315

In [51]:
df = df.drop ('Edad desconocida', axis = 1)

In [52]:
df.head()

,Region,País,Años,Sexo,1-4 Años,5-9 Años,10-14 Años,15-19 Años,20-24 Años,25-29 Años,...,55-59 Años,60-64 Años,65-69 Años,70-74 Años,75-79 Años,80-84 Años,+85 Años,N° de suicidios,Suicidio/Muertes generales,Tasa de Mortalidad por 100000 habitantes
0,Africa,Cabo Verde,1980,Female,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.227273,0.000000
1,Africa,Cabo Verde,1980,Male,0.0,0.0,0.0,2.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,6.0,0.983156,0.000000
2,Africa,Cabo Verde,2011,Female,0.0,0.0,0.0,0.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.161273,2.395998
3,Africa,Cabo Verde,2011,Male,0.0,0.0,3.0,1.0,4.0,5.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,37.0,3.804557,28.024735
4,Africa,Egypt,1965,Female,0.0,0.0,0.0,6.0,1.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0,0.026743,0.074515

In [53]:
df = df.drop_duplicates()

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9538 entries, 0 to 9537
Data columns (total 25 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    9538 non-null   object
 1   País                                      9538 non-null   object
 2   Años                                      9538 non-null   int64
 3   Sexo                                      9538 non-null   object
 4   1-4 Años                                  9538 non-null   float64
 5   5-9 Años                                  9538 non-null   float64
 6   10-14 Años                                9538 non-null   float64
 7   15-19 Años                                9538 non-null   float64
 8   20-24 Años                                9538 non-null   float64
 9   25-29 Años                                9538 non-null   float64
 10  30-34 Años                                9538 non-null   float64
 11  35-39 Años                                9538 non-null   float64
 12  40-44 Años                                9538 non-null   float64
 13  45-49 Años                                9538 non-null   float64
 14  50-54 Años                                9538 non-null   float64
 15  55-59 Años                                9538 non-null   float64
 16  60-64 Años                                9538 non-null   float64
 17  65-69 Años                                9538 non-null   float64
 18  70-74 Años                                9538 non-null   float64
 19  75-79 Años                                9538 non-null   float64
 20  80-84 Años                                9538 non-null   float64
 21  +85 Años                                  9538 non-null   float64
 22  N° de suicidios                           9538 non-null   float64
 23  Suicidio/Muertes generales                9538 non-null   float64
 24  Tasa de Mortalidad por 100000 habitantes  9538 non-null   float64
dtypes: float64(21), int64(1), object(3)
memory usage: 1.9+ MB